flows_himbeere.json
[{"id":"89495e4f.f1df38","type":"tab","label":"RPI-Control","disabled":false,"info":""},{"id":"db478359.e18518","type":"tab","label":"Sensoren/MQTT","disabled":false,"info":""},{"id":"cfd4e6f2.2e63a","type":"tab","label":"Telegram-Bot","disabled":false,"info":""},{"id":"3d904d53.25e5da","type":"tab","label":"Kippen-Counter","disabled":false,"info":"Zählt gerauchte Kippen,wenn bei Telegram \nder Befehl /kippe gesendet wird.\nGesamtanzahl (-1) wird zurückgeschickt.\n\nPROBLEM: Zählung beginnt bei 0.\nImmer eine Kippe zu wenig gezählt!"},{"id":"60051cec.cfc004","type":"tab","label":"Langzeit-Graph","disabled":false,"info":""},{"id":"358da7eb.8d632","type":"tab","label":"Data to Google Spreadsheet","disabled":false,"info":""},{"id":"2d059284.232db6","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#9d263e","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#9d263e","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#d13f5c","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#9d263e","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":10,"gy":10,"cx":8,"cy":4,"px":0,"py":0}}},{"id":"fe6258c6.d5989","type":"ui_group","z":"","name":"Actions","tab":"59a92dfe.87f864","order":4,"disp":true,"width":"6"},{"id":"996a44d.8a19db8","type":"ui_group","z":"","name":"Speicher","tab":"59a92dfe.87f864","order":2,"disp":false,"width":"6","collapse":false},{"id":"59a92dfe.87f864","type":"ui_tab","z":"","name":"RPi Control","icon":"dashboard","order":4},{"id":"b08b080.3af6e78","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"29b00826.677e68","type":"ui_group","z":"","name":"Bodentemperatur","tab":"c6470c1a.e81d58","order":2,"disp":true,"width":"6","collapse":true},{"id":"664eb3ef.b51cec","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"msg.payload = {chatId :173173012, type : 'message', content : msg.payload}","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d0d9c37f.eb1998","type":"chatbot-telegram-node","z":"","botname":"FMS63_Bot","usernames":"173173012","polling":"1000","store":"","log":"","parseMode":""},{"id":"a0697976.f3191","type":"ui_group","z":"","name":"Prozessor","tab":"59a92dfe.87f864","order":1,"disp":false,"width":"6","collapse":false},{"id":"750f28d1.ac81d","type":"chatbot-telegram-node","z":"cfd4e6f2.2e63a","botname":"FMS63_Bot","usernames":"173173012","polling":"1000","store":"","log":"","parseMode":""},{"id":"5cdf35b8.f931ac","type":"chatbot-telegram-node","z":"cfd4e6f2.2e63a","botname":"FMS63_Bot","usernames":"173173012","polling":"1000","store":"","log":"","parseMode":""},{"id":"15ba0f05.7bccc1","type":"ui_group","z":"","name":"Keller","tab":"b08b080.3af6e78","order":5,"disp":true,"width":"6","collapse":true},{"id":"999c7317.1f90c8","type":"ui_group","z":"","name":"UV","tab":"c6470c1a.e81d58","order":3,"disp":true,"width":"6","collapse":true},{"id":"c6470c1a.e81d58","type":"ui_tab","z":"","name":"Garten","icon":"dashboard","order":3},{"id":"2a660420.98c74c","type":"ui_group","z":"","name":"Wohnzimmer","tab":"b08b080.3af6e78","order":3,"disp":true,"width":"6","collapse":true},{"id":"9cd947f1.0e666","type":"ui_group","z":"","name":"Außentemperatur","tab":"daef6044.8511e","order":1,"disp":true,"width":"12","collapse":true},{"id":"41416fdc.650358","type":"ui_group","z":"","name":"Küche","tab":"b08b080.3af6e78","order":1,"disp":true,"width":"6","collapse":true},{"id":"4d57253a.4ccefc","type":"ui_group","z":"","name":"Bad","tab":"b08b080.3af6e78","order":2,"disp":true,"width":"6","collapse":true},{"id":"509dac9.99562d4","type":"ui_group","z":"","name":"Schlafzimmer","tab":"b08b080.3af6e78","order":4,"disp":true,"width":"6","collapse":true},{"id":"ea8a79cf.470f","type":"ui_tab","z":"","name":"Counter","icon":"dashboard"},{"id":"8d1a0c68.1bc748","type":"ui_group","z":"","name":"Kippencounter","tab":"ea8a79cf.470f","disp":true,"width":"6","collapse":false},{"id":"2b70f91d.340f8e","type":"persist-store","z":"","filename":"persistance_langzeit-temp.json","interval":"60"},{"id":"daef6044.8511e","type":"ui_tab","z":"","name":"Langzeit","icon":"dashboard"},{"id":"ee35224b.693cc","type":"ui_group","z":"","name":"Außentemperatur","tab":"c6470c1a.e81d58","order":1,"disp":true,"width":"6","collapse":true},{"id":"93ff2d6c.1cb19","type":"mqtt in","z":"358da7eb.8d632","name":"Außentemp","topic":"/keller/temp/28ffca9721747","qos":"2","broker":"664eb3ef.b51cec","x":103.91670227050781,"y":175.00001525878906,"wires":[["5bbaa288.24446c","b4f6614e.5ecf"]]},{"id":"cd569a99.4951b","type":"http request","z":"358da7eb.8d632","name":"","method":"GET","url":"https://docs.google.com/forms/d/e/1FAIpQLSeTRGyz6_9BH8iho8E065MWHGQNCzRutZUUjgMDW4ByMO_7XQ/formResponse?entry.578420309={{payload}}","tls":"","x":598.9167022705078,"y":174.00001525878906,"wires":[[]]},{"id":"e0fe3e95.929da8","type":"comment","z":"358da7eb.8d632","name":"Google-Daten","info":"https://docs.google.com/forms/d/e/1FAIpQLSe3cOoDqNwfl7ZYAc6vCDZkUSii6ULnF4TSMHgwTC5moEoZXQ/viewform?usp=sf_link\n\nTemperatur\n540525783\n\nHOW TO\nhttps://www.open-electronics.org/how-send-data-from-arduino-to-google-docs-spreadsheet/","x":598.9167022705078,"y":143.00001525878906,"wires":[]},{"id":"83d90287.c1687","type":"comment","z":"358da7eb.8d632","name":"enable um Daten zu senden","info":"","x":760,"y":20,"wires":[]},{"id":"3e17352.29790ca","type":"mqtt in","z":"db478359.e18518","name":"Bodentemp","topic":"/keller/temp/28ff8c388a1635a","qos":"2","broker":"664eb3ef.b51cec","x":81.25,"y":1483.75,"wires":[["1e469b62.31009d","96db80fa.922968","15080dd7.be653a","5720b8e9.b70838"]]},{"id":"124bc862.b3f98","type":"mqtt in","z":"db478359.e18518","name":"","topic":"/keller/UV/UV","qos":"0","broker":"664eb3ef.b51cec","x":121.25,"y":1817.5,"wires":[["876e7e3.01ade8"]]},{"id":"1fa3be03.160822","type":"chatbot-conversation","z":"db478359.e18518","name":"","botTelegram":"d0d9c37f.eb1998","botSlack":"","botFacebook":"","chatId":"173173012","transport":"telegram","messageId":"","contextMessageId":false,"store":"","x":1860,"y":660,"wires":[["2cac8e91.3023da"]]},{"id":"b576f1e9.c6f488","type":"mqtt in","z":"db478359.e18518","name":"","topic":"/keller/UV/mW","qos":"0","broker":"664eb3ef.b51cec","x":121.25,"y":1857.5,"wires":[["5ebd5012.e5aed"]]},{"id":"876e7e3.01ade8","type":"ui_chart","z":"db478359.e18518","name":"","group":"999c7317.1f90c8","order":1,"width":0,"height":0,"label":"UV","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":523.25,"y":1821.5,"wires":[[],[]]},{"id":"5ebd5012.e5aed","type":"ui_chart","z":"db478359.e18518","name":"","group":"999c7317.1f90c8","order":2,"width":0,"height":0,"label":"mW","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":523.25,"y":1861.5,"wires":[[],[]]},{"id":"659d8978.232a8","type":"mqtt in","z":"db478359.e18518","name":"","topic":"/keller/UV/index","qos":"0","broker":"664eb3ef.b51cec","x":131.25,"y":1897.5,"wires":[["fc5a959.703b968"]]},{"id":"fc5a959.703b968","type":"ui_text","z":"db478359.e18518","group":"999c7317.1f90c8","order":3,"width":0,"height":0,"name":"","label":"UV-Index:","format":"{{msg.payload}}","layout":"row-right","x":533.25,"y":1901.5,"wires":[]},{"id":"96db80fa.922968","type":"change","z":"db478359.e18518","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Bodentemperatur","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":872.5,"y":1485,"wires":[["9c05355c.de4b3","edd9f92c.dd11e8"]]},{"id":"4aa60607.c9b94","type":"chatbot-telegram-receive","z":"cfd4e6f2.2e63a","bot":"750f28d1.ac81d","x":95,"y":80,"wires":[["a90c6604.ad9e78","61674806.2cae08","1713c119.98b467","beec6fdd.45e1f8","9906b8f6.8d4ff","bd5b68a7.d6d3e8","edb91697.257b88","454c3928.cabd88","8e73e9b0.8a99c","ff68bb00.36ee8"]]},{"id":"ed3e02a7.d104","type":"chatbot-telegram-send","z":"cfd4e6f2.2e63a","bot":"5cdf35b8.f931ac","track":false,"outputs":0,"x":1730,"y":100,"wires":[]},{"id":"a90c6604.ad9e78","type":"chatbot-message","z":"cfd4e6f2.2e63a","name":"Miau","message":[{"message":"Miau"}],"answer":false,"track":false,"x":930,"y":60,"wires":[["ed3e02a7.d104"]]},{"id":"3c0659f6.ba48b6","type":"comment","z":"cfd4e6f2.2e63a","name":"Auto-Reply","info":"","x":940,"y":20,"wires":[]},{"id":"61674806.2cae08","type":"chatbot-command","z":"cfd4e6f2.2e63a","name":"","command":"/keller","x":90,"y":420,"wires":[["b7298a72.d2232"]]},{"id":"1713c119.98b467","type":"chatbot-command","z":"cfd4e6f2.2e63a","name":"","command":"/garten","x":100,"y":321.25,"wires":[["7d8dc92f.08e288","5b5be672.aa5d8"]],"outputLabels":["/wz"]},{"id":"a8e62350.5306a8","type":"function","z":"cfd4e6f2.2e63a","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die Bodentemperatur beträgt \" + msg.payload +\" °C.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":320,"wires":[["2812751f.bcf13a"]]},{"id":"2812751f.bcf13a","type":"chatbot-conversation","z":"cfd4e6f2.2e63a","name":"","botTelegram":"d0d9c37f.eb1998","botSlack":"","botFacebook":"","chatId":"173173012","transport":"telegram","messageId":"","contextMessageId":false,"store":"","x":1425,"y":260,"wires":[["ed3e02a7.d104"]]},{"id":"29363ec9.9d7192","type":"mqtt in","z":"cfd4e6f2.2e63a","name":"Bodentemperatur","topic":"/keller/temp/28ff8c388a1635a","qos":"0","broker":"664eb3ef.b51cec","x":100,"y":1120,"wires":[["a40711d0.7f6d2"]]},{"id":"1e469b62.31009d","type":"ui_gauge","z":"db478359.e18518","name":"","group":"29b00826.677e68","order":2,"width":0,"height":0,"gtype":"gage","title":"Bodentemperatur","label":"","format":"{{value}} °C","min":"-10","max":"30","colors":["#3342ff","#0ce600","#ca3838"],"seg1":"10","seg2":"20","x":545.7499389648438,"y":1451.0000610351562,"wires":[]},{"id":"12be89b0.05fb46","type":"comment","z":"db478359.e18518","name":"UV-Messung","info":"","x":75,"y":1774.4999389648438,"wires":[]},{"id":"7d8dc92f.08e288","type":"change","z":"cfd4e6f2.2e63a","name":"set Payload to flow.Bodentemperatur","rules":[{"t":"set","p":"payload","pt":"msg","to":"Bodentemperatur","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":828.75,"y":322.5,"wires":[["a8e62350.5306a8"]]},{"id":"f2fc21c.7224c6","type":"change","z":"cfd4e6f2.2e63a","name":"","rules":[{"t":"set","p":"Bodentemperatur","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":445,"y":1120,"wires":[[]]},{"id":"2cac8e91.3023da","type":"chatbot-telegram-send","z":"db478359.e18518","bot":"d0d9c37f.eb1998","track":false,"outputs":0,"x":2098.5715942382812,"y":661.4286499023438,"wires":[]},{"id":"9c05355c.de4b3","type":"switch","z":"db478359.e18518","name":"Switch:Temp < 10 °C","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"10","vt":"str"}],"checkall":"false","outputs":1,"x":1120,"y":1480,"wires":[[]]},{"id":"3a78417c.22314e","type":"function","z":"db478359.e18518","name":"Achtung! Es ist kalt draußen","func":"var msg1 = {\"topic\": msg.topic,\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Achtung! Es friert! \" + msg.payload + \" °C\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1600,"y":1560,"wires":[["1fa3be03.160822"]]},{"id":"de62a3f4.9063a","type":"comment","z":"cfd4e6f2.2e63a","name":"Commands","info":"","x":75,"y":220,"wires":[]},{"id":"57f74739.c87308","type":"comment","z":"cfd4e6f2.2e63a","name":"Input für Commands","info":"","x":110,"y":1060,"wires":[]},{"id":"d3074544.1f4b48","type":"comment","z":"cfd4e6f2.2e63a","name":"Textausgabe des Commands","info":"","x":1120,"y":220,"wires":[]},{"id":"e38acef3.9d4968","type":"comment","z":"cfd4e6f2.2e63a","name":"Auswahl des Inputs","info":"","x":770,"y":220,"wires":[]},{"id":"de35b76a.fbe398","type":"mqtt in","z":"cfd4e6f2.2e63a","name":"Außen","topic":"/keller/temp/28ffca9721747","qos":"2","broker":"664eb3ef.b51cec","x":70,"y":1180,"wires":[["c574ae0a.4ad9c"]]},{"id":"2193bf95.76e5a","type":"change","z":"cfd4e6f2.2e63a","name":"","rules":[{"t":"set","p":"Außen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":415,"y":1180,"wires":[[]]},{"id":"5b5be672.aa5d8","type":"change","z":"cfd4e6f2.2e63a","name":"set Payload to flow.Außentemperatur","rules":[{"t":"set","p":"payload","pt":"msg","to":"Außen","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":360,"wires":[["635c36e0.2b4008"]]},{"id":"635c36e0.2b4008","type":"function","z":"cfd4e6f2.2e63a","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die Außentemperatur beträgt \" + msg.payload +\" °C.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1121.25,"y":357.5,"wires":[["2812751f.bcf13a"]]},{"id":"beec6fdd.45e1f8","type":"chatbot-command","z":"cfd4e6f2.2e63a","name":"","command":"/wz","x":90,"y":480,"wires":[["5dd6f681.d321c","213eb297.22fb0e"]]},{"id":"b7298a72.d2232","type":"change","z":"cfd4e6f2.2e63a","name":"set Payload to flow.Keller","rules":[{"t":"set","p":"payload","pt":"msg","to":"Keller","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":420,"wires":[["1c669ce6.f35ebb"]]},{"id":"1c669ce6.f35ebb","type":"function","z":"cfd4e6f2.2e63a","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die Temperatur im Keller beträgt \" + msg.payload +\" °C.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":420,"wires":[["2812751f.bcf13a"]]},{"id":"ef88839e.99e1f8","type":"mqtt in","z":"cfd4e6f2.2e63a","name":"Keller","topic":"/keller/temp/28ff84ed6117326","qos":"2","broker":"664eb3ef.b51cec","x":70,"y":1240,"wires":[["391ee987.c93d86"]]},{"id":"1f19b370.f6939d","type":"change","z":"cfd4e6f2.2e63a","name":"","rules":[{"t":"set","p":"Keller","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":415,"y":1240,"wires":[[]]},{"id":"5dd6f681.d321c","type":"change","z":"cfd4e6f2.2e63a","name":"set Payload to flow.Wohnzimmer","rules":[{"t":"set","p":"payload","pt":"msg","to":"Wohnzimmer/Temp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":480,"wires":[["c82e3fa4.c37f48"]]},{"id":"c82e3fa4.c37f48","type":"function","z":"cfd4e6f2.2e63a","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die Temperatur im Wohnzimmer beträgt \" + msg.payload +\" °C.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":480,"wires":[["2812751f.bcf13a"]]},{"id":"9906b8f6.8d4ff","type":"chatbot-command","z":"cfd4e6f2.2e63a","name":"","command":"/status","x":90,"y":260,"wires":[["95469f6e.76b2e8","ec73e250.cc771","62d2fbb8.719a04","1e71eb03.54a69d","9e6dfe28.410b5","ee82ce.a0572d3","d795a007.4f292","840d3f65.5da2c8","b3cb71a9.8a5c2","1fa7c3d3.1e0684","57fad1bb.c49bd"]]},{"id":"391ee987.c93d86","type":"change","z":"cfd4e6f2.2e63a","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":245,"y":1240,"wires":[["1f19b370.f6939d"]]},{"id":"c574ae0a.4ad9c","type":"change","z":"cfd4e6f2.2e63a","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":245,"y":1180,"wires":[["2193bf95.76e5a"]]},{"id":"a40711d0.7f6d2","type":"change","z":"cfd4e6f2.2e63a","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":245,"y":1120,"wires":[["f2fc21c.7224c6"]]},{"id":"7baa648e.af1f3c","type":"mqtt in","z":"db478359.e18518","name":"Außentemp","topic":"/keller/temp/28ffca9721747","qos":"2","broker":"664eb3ef.b51cec","x":85.75,"y":1626.5000610351562,"wires":[["c79b5c3f.b93f88","8aba5bdc.3ca108","644cd58f.e38464","e19a4bfe.25fe7","20d095f8.46ffba"]]},{"id":"c79b5c3f.b93f88","type":"change","z":"db478359.e18518","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Außentemperatur","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":872.5,"y":1623.75,"wires":[["edd9f92c.dd11e8"]]},{"id":"eaf81f66.db7cb8","type":"mqtt in","z":"db478359.e18518","name":"Wohnzimmer/Temp","topic":"/wz/temp","qos":"0","broker":"664eb3ef.b51cec","x":110,"y":660,"wires":[["d110b4f9.c15748","c968313d.193158","9384ffb3.3ba7e"]]},{"id":"d110b4f9.c15748","type":"ui_chart","z":"db478359.e18518","name":"","group":"2a660420.98c74c","order":1,"width":0,"height":0,"label":"Temperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#ff9595","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":525,"y":647.5,"wires":[[],[]]},{"id":"c968313d.193158","type":"ui_gauge","z":"db478359.e18518","name":"","group":"2a660420.98c74c","order":4,"width":"3","height":"3","gtype":"gage","title":"Temperatur","label":"","format":"{{value}} °C","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"22","seg2":"25","x":525,"y":687.5,"wires":[]},{"id":"e9c9a5b5.ecb91","type":"chatbot-message","z":"cfd4e6f2.2e63a","name":"schnurrr","message":[{"message":"*schnurrrrr*"}],"answer":false,"track":false,"x":940,"y":120,"wires":[["ed3e02a7.d104"]]},{"id":"bd5b68a7.d6d3e8","type":"chatbot-command","z":"cfd4e6f2.2e63a","name":"","command":"/streicheln","x":430,"y":120,"wires":[["e9c9a5b5.ecb91"]]},{"id":"c11a86bc.e80c1","type":"mqtt in","z":"db478359.e18518","name":"Wohnzimmer/Humid","topic":"/wz/humid","qos":"0","broker":"664eb3ef.b51cec","x":110,"y":700,"wires":[["81e67704.6679e","6e270131.cffdf","cd5adf0.cb77c2","aeb9d73.35e9ca8"]]},{"id":"ac5f53e.960a93","type":"ui_chart","z":"db478359.e18518","name":"","group":"2a660420.98c74c","order":2,"width":0,"height":0,"label":"relative Luftfeuchte","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#aec7e8","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":545,"y":727.5,"wires":[[],[]]},{"id":"81e67704.6679e","type":"ui_gauge","z":"db478359.e18518","name":"","group":"2a660420.98c74c","order":5,"width":"3","height":"3","gtype":"gage","title":"rel. Luftfeuchte","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"65","seg2":"75","x":535,"y":767.5,"wires":[]},{"id":"fd2cc2a6.98652","type":"mqtt in","z":"db478359.e18518","name":"","topic":"/sz/temp","qos":"2","broker":"664eb3ef.b51cec","x":90.41654459635413,"y":980.9722832573784,"wires":[["c68ae547.f89f4","89cbe88.bb5ad18","fdab28cc.fabd1"]]},{"id":"66d487f2.a7f318","type":"mqtt in","z":"db478359.e18518","name":"","topic":"/sz/humid","qos":"2","broker":"664eb3ef.b51cec","x":89.30545043945312,"y":1018.7500610351562,"wires":[["66c172fd.fa5554","c3c4e47b.424968","f048bd2a.f6951","6c161ecd.7e42f8"]]},{"id":"c68ae547.f89f4","type":"ui_chart","z":"db478359.e18518","name":"","group":"509dac9.99562d4","order":1,"width":0,"height":0,"label":"Temperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#ff9595","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":530,"y":940,"wires":[[],[]]},{"id":"89cbe88.bb5ad18","type":"ui_gauge","z":"db478359.e18518","name":"","group":"509dac9.99562d4","order":4,"width":"3","height":"3","gtype":"gage","title":"Temperatur","label":"","format":"{{value}} °C","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"22","seg2":"25","x":530,"y":980,"wires":[]},{"id":"abc41e24.277088","type":"ui_chart","z":"db478359.e18518","name":"","group":"509dac9.99562d4","order":2,"width":0,"height":0,"label":"relative Luftfeuchte","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#aec7e8","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":550,"y":1020,"wires":[[],[]]},{"id":"66c172fd.fa5554","type":"ui_gauge","z":"db478359.e18518","name":"","group":"509dac9.99562d4","order":5,"width":"3","height":"3","gtype":"gage","title":"rel. Luftfeuchte","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"65","seg2":"75","x":540,"y":1060,"wires":[]},{"id":"41ab01a9.3f4fb8","type":"mqtt in","z":"cfd4e6f2.2e63a","name":"Wohnzimmer/Temp","topic":"/wz/temp","qos":"0","broker":"664eb3ef.b51cec","x":110,"y":1320,"wires":[["e9b101a5.bc15a"]]},{"id":"e1d5e5e5.6ffba8","type":"mqtt in","z":"cfd4e6f2.2e63a","name":"Wohnzimmer/Humid","topic":"/wz/humid","qos":"0","broker":"664eb3ef.b51cec","x":110,"y":1360,"wires":[["d4f9293e.14186"]]},{"id":"cea4ca7b.bec7e8","type":"mqtt in","z":"cfd4e6f2.2e63a","name":"Küche/Temp","topic":"/kueche/temp","qos":"2","broker":"664eb3ef.b51cec","x":90,"y":1420,"wires":[["6f7ed979.3ae8"]]},{"id":"d2f4c56e.c1fe98","type":"mqtt in","z":"cfd4e6f2.2e63a","name":"Bad/Temp","topic":"/bad/temp","qos":"0","broker":"664eb3ef.b51cec","x":80,"y":1520,"wires":[["b84f00f7.65b17"]]},{"id":"e967245f.4abec","type":"mqtt in","z":"cfd4e6f2.2e63a","name":"Bad/Humid","topic":"/bad/humid","qos":"0","broker":"664eb3ef.b51cec","x":80,"y":1560,"wires":[["104469fb.5581be"]]},{"id":"de409eeb.baba28","type":"mqtt in","z":"cfd4e6f2.2e63a","name":"Schlafzimmer/Temp","topic":"/sz/temp","qos":"2","broker":"664eb3ef.b51cec","x":110,"y":1640,"wires":[["7ff944a.2d7623c"]]},{"id":"419ac607.f47568","type":"mqtt in","z":"cfd4e6f2.2e63a","name":"Schlafzimmer/Humid","topic":"/sz/humid","qos":"2","broker":"664eb3ef.b51cec","x":108.88890584309897,"y":1677.7777777777778,"wires":[["5585e04a.a95bf8"]]},{"id":"e9b101a5.bc15a","type":"change","z":"cfd4e6f2.2e63a","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1320,"wires":[["aca73060.6e62b"]]},{"id":"aca73060.6e62b","type":"change","z":"cfd4e6f2.2e63a","name":"","rules":[{"t":"set","p":"Wohnzimmer/Temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1320,"wires":[[]]},{"id":"d4f9293e.14186","type":"change","z":"cfd4e6f2.2e63a","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1360,"wires":[["6b24a1cf.c70e28"]]},{"id":"6b24a1cf.c70e28","type":"change","z":"cfd4e6f2.2e63a","name":"","rules":[{"t":"set","p":"Wohnzimmer/Humid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1360,"wires":[[]]},{"id":"6f7ed979.3ae8","type":"change","z":"cfd4e6f2.2e63a","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1420,"wires":[["7724334e.e3cf9c"]]},{"id":"7724334e.e3cf9c","type":"change","z":"cfd4e6f2.2e63a","name":"","rules":[{"t":"set","p":"Küche/Temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1420,"wires":[[]]},{"id":"3a66efcc.7fadc8","type":"change","z":"cfd4e6f2.2e63a","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1460,"wires":[["1bd89bdb.b969f4"]]},{"id":"1bd89bdb.b969f4","type":"change","z":"cfd4e6f2.2e63a","name":"","rules":[{"t":"set","p":"Küche/Humid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1460,"wires":[[]]},{"id":"b84f00f7.65b17","type":"change","z":"cfd4e6f2.2e63a","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1520,"wires":[["4cc93575.e65a24"]]},{"id":"4cc93575.e65a24","type":"change","z":"cfd4e6f2.2e63a","name":"","rules":[{"t":"set","p":"Bad/Temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1520,"wires":[[]]},{"id":"104469fb.5581be","type":"change","z":"cfd4e6f2.2e63a","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1560,"wires":[["ce5eedc.e45691"]]},{"id":"ce5eedc.e45691","type":"change","z":"cfd4e6f2.2e63a","name":"","rules":[{"t":"set","p":"Bad/Humid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1560,"wires":[[]]},{"id":"7ff944a.2d7623c","type":"change","z":"cfd4e6f2.2e63a","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":283.33333333333337,"y":1637.7777777777778,"wires":[["8016cd6a.8da0c"]]},{"id":"8016cd6a.8da0c","type":"change","z":"cfd4e6f2.2e63a","name":"","rules":[{"t":"set","p":"Schlafzimmer/Temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":493.33333333333337,"y":1637.7777777777778,"wires":[[]]},{"id":"5585e04a.a95bf8","type":"change","z":"cfd4e6f2.2e63a","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":283.33333333333337,"y":1677.7777777777778,"wires":[["6d6d950f.8e559c"]]},{"id":"6d6d950f.8e559c","type":"change","z":"cfd4e6f2.2e63a","name":"","rules":[{"t":"set","p":"Schlafzimmer/Humid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":493.33333333333337,"y":1677.7777777777778,"wires":[[]]},{"id":"edb91697.257b88","type":"chatbot-command","z":"cfd4e6f2.2e63a","name":"","command":"/kueche","x":100,"y":580,"wires":[["d89103db.d08608","8bb2b515.dfad28"]]},{"id":"dacc6a8.ad67998","type":"function","z":"cfd4e6f2.2e63a","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die Temperatur in der Küche beträgt \" + msg.payload +\" °C.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":580,"wires":[["2812751f.bcf13a"]]},{"id":"d89103db.d08608","type":"change","z":"cfd4e6f2.2e63a","name":"set Payload to flow.Küche","rules":[{"t":"set","p":"payload","pt":"msg","to":"Küche/Temp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":580,"wires":[["dacc6a8.ad67998"]]},{"id":"213eb297.22fb0e","type":"change","z":"cfd4e6f2.2e63a","name":"set Payload to flow.Wohnzimmer","rules":[{"t":"set","p":"payload","pt":"msg","to":"Wohnzimmer/Humid","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":520,"wires":[["495b7126.0f9438"]]},{"id":"495b7126.0f9438","type":"function","z":"cfd4e6f2.2e63a","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die relative Luftfeuchtigkeit im Wohnzimmer beträgt \" + msg.payload +\" %.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":520,"wires":[["2812751f.bcf13a"]]},{"id":"8bb2b515.dfad28","type":"change","z":"cfd4e6f2.2e63a","name":"set Payload to flow.Küche","rules":[{"t":"set","p":"payload","pt":"msg","to":"Küche/Humid","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":620,"wires":[["f73f78a4.038b38"]]},{"id":"f73f78a4.038b38","type":"function","z":"cfd4e6f2.2e63a","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die relative Luftfeuchtigkeit in der Küche beträgt \" + msg.payload +\" %.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":620,"wires":[["2812751f.bcf13a"]]},{"id":"454c3928.cabd88","type":"chatbot-command","z":"cfd4e6f2.2e63a","name":"","command":"/bad","x":90,"y":680,"wires":[["6590bea1.24009","f0cf5b07.1ad4"]]},{"id":"561a36c2.11af7","type":"function","z":"cfd4e6f2.2e63a","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die Temperatur im Bad beträgt \" + msg.payload +\" °C.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":680,"wires":[["2812751f.bcf13a"]]},{"id":"6590bea1.24009","type":"change","z":"cfd4e6f2.2e63a","name":"set Payload to flow.Bad","rules":[{"t":"set","p":"payload","pt":"msg","to":"Bad/Temp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":680,"wires":[["561a36c2.11af7"]]},{"id":"f0cf5b07.1ad4","type":"change","z":"cfd4e6f2.2e63a","name":"set Payload to flow.Bad","rules":[{"t":"set","p":"payload","pt":"msg","to":"Bad/Humid","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":720,"wires":[["59e8a220.3afb7c"]]},{"id":"59e8a220.3afb7c","type":"function","z":"cfd4e6f2.2e63a","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die relative Luftfeuchtigkeit im Bad beträgt \" + msg.payload +\" %.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":720,"wires":[["2812751f.bcf13a"]]},{"id":"8e73e9b0.8a99c","type":"chatbot-command","z":"cfd4e6f2.2e63a","name":"","command":"/sz","x":90,"y":780,"wires":[["fce6b91e.0fa01","c213965e.53779"]]},{"id":"93b88f57.152a5","type":"function","z":"cfd4e6f2.2e63a","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die Temperatur im Schlafzimmer beträgt \" + msg.payload +\" °C.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":780,"wires":[["2812751f.bcf13a"]]},{"id":"fce6b91e.0fa01","type":"change","z":"cfd4e6f2.2e63a","name":"set Payload to flow.Schlafzimmer","rules":[{"t":"set","p":"payload","pt":"msg","to":"Schlafzimmer/Temp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":780,"wires":[["93b88f57.152a5"]]},{"id":"c213965e.53779","type":"change","z":"cfd4e6f2.2e63a","name":"set Payload to flow.Schlafzimmer","rules":[{"t":"set","p":"payload","pt":"msg","to":"Schlafzimmer/Humid","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":820,"wires":[["2e6d3554.599faa"]]},{"id":"2e6d3554.599faa","type":"function","z":"cfd4e6f2.2e63a","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die relative Luftfeuchtigkeit im Schlafzimmer beträgt \" + msg.payload +\" %.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":820,"wires":[["2812751f.bcf13a"]]},{"id":"8127c14d.e6a73","type":"mqtt in","z":"cfd4e6f2.2e63a","name":"Küche/Humid","topic":"/kueche/humid","qos":"2","broker":"664eb3ef.b51cec","x":90,"y":1460,"wires":[["3a66efcc.7fadc8"]]},{"id":"27e0f9a3.6a2d7e","type":"ui_text","z":"db478359.e18518","group":"509dac9.99562d4","order":6,"width":"6","height":"2","name":"","label":"Optimal: <br> T = 16-18 °C <br>  rel. Feuchte = 40-60 % ","format":"","layout":"row-spread","x":230,"y":900,"wires":[]},{"id":"6fb12e67.c08bd8","type":"ui_text","z":"db478359.e18518","group":"2a660420.98c74c","order":6,"width":"6","height":"2","name":"","label":"Optimal: <br> T = 20 °C <br>  rel. Feuchte = 40-60 % ","format":"","layout":"row-spread","x":223.75,"y":605,"wires":[]},{"id":"2ce9c326.ccdda4","type":"mqtt in","z":"db478359.e18518","name":"Keller","topic":"/keller/temp/28ff84ed6117326","qos":"2","broker":"664eb3ef.b51cec","x":76.24981689453125,"y":1283.75,"wires":[["62aed038.59609","733a609c.65f328"]]},{"id":"9fbdab88.c91878","type":"ui_chart","z":"db478359.e18518","name":"","group":"15ba0f05.7bccc1","order":1,"width":0,"height":0,"label":"Keller","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":507.49981689453125,"y":1281.25,"wires":[[],[]]},{"id":"e90a3d50.7a9d9","type":"ui_text","z":"db478359.e18518","group":"15ba0f05.7bccc1","order":0,"width":"6","height":"2","name":"","label":"Optimal: <br> T = 10-15 °C <br>  rel. Feuchte = 50-65 % ","format":"","layout":"row-spread","x":236.2498779296875,"y":1222.5,"wires":[]},{"id":"c612d6bb.ed125","type":"comment","z":"db478359.e18518","name":"Garten","info":"","x":55,"y":1438.75,"wires":[]},{"id":"237de31d.7fc90c","type":"comment","z":"db478359.e18518","name":"Wohnzimmer","info":"","x":70,"y":570,"wires":[]},{"id":"6c161ecd.7e42f8","type":"change","z":"db478359.e18518","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Schlafzimmer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":980,"wires":[["c05031fb.28175"]]},{"id":"6bff1568.bda7dc","type":"switch","z":"db478359.e18518","name":"Humid > 72 %","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"72","vt":"str"}],"checkall":"false","outputs":1,"x":1218.7501220703125,"y":977.5,"wires":[["bf3611c7.820238"]]},{"id":"547c6cd9.c1f5c4","type":"function","z":"db478359.e18518","name":"Nachricht: Humid","func":"var msg1 = {\"topic\": msg.topic,\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Achtung! Die Luftfeuchte im \"+ msg.topic + \" beträgt momentan \" + msg.payload + \" %.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1528.7501220703125,"y":976.25,"wires":[["1fa3be03.160822"]]},{"id":"c05031fb.28175","type":"delay","z":"db478359.e18518","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1038.7501220703125,"y":978.75,"wires":[["6bff1568.bda7dc"]]},{"id":"aeb9d73.35e9ca8","type":"change","z":"db478359.e18518","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Wohnzimmer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":680,"wires":[["56289b11.a38994"]]},{"id":"88184a13.b024c8","type":"switch","z":"db478359.e18518","name":"Humid > 70 %","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"70","vt":"str"}],"checkall":"false","outputs":1,"x":1215.0001220703125,"y":680,"wires":[["d7b26741.b5afa8"]]},{"id":"d634d2c0.b88368","type":"function","z":"db478359.e18518","name":"Nachricht: Humid","func":"var msg1 = {\"topic\": msg.topic,\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Achtung! Die Luftfeuchte im \"+ msg.topic + \" beträgt momentan \" + msg.payload + \" %.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1530,"y":680,"wires":[["1fa3be03.160822"]]},{"id":"56289b11.a38994","type":"delay","z":"db478359.e18518","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1038.7501220703125,"y":680,"wires":[["88184a13.b024c8"]]},{"id":"72af9249.dba994","type":"comment","z":"db478359.e18518","name":"Schlafzimmer","info":"","x":75,"y":868.75,"wires":[]},{"id":"86fc4cb3.d5f8e","type":"comment","z":"db478359.e18518","name":"Keller","info":"","x":61.25,"y":1185,"wires":[]},{"id":"6cf0f268.c0595c","type":"mqtt in","z":"db478359.e18518","name":"","topic":"/kueche/temp","qos":"2","broker":"664eb3ef.b51cec","x":110,"y":100,"wires":[["40b59027.5e53b","6481e52e.aa2454","a660cc59.0ac9d8"]]},{"id":"adf110be.d16e5","type":"mqtt in","z":"db478359.e18518","name":"","topic":"/kueche/humid","qos":"2","broker":"664eb3ef.b51cec","x":122.5,"y":161.25,"wires":[["d10f5d1e.fff078","ee0ba2ad.716be8","e2a2ed5d.07e0d","f640de77.a1f81"]]},{"id":"84eea5ac.f7a6","type":"mqtt in","z":"db478359.e18518","name":"","topic":"/bad/temp","qos":"0","broker":"664eb3ef.b51cec","x":96.24993896484375,"y":392.5,"wires":[["816ea18d.62a09","21a19b65.b77dfc","75fd782b.edd7e"]]},{"id":"7274b8f1.8f8948","type":"mqtt in","z":"db478359.e18518","name":"","topic":"/bad/humid","qos":"0","broker":"664eb3ef.b51cec","x":96.24993896484375,"y":432.5,"wires":[["a471430f.f10f3","96c4ee65.a507f","19a6e3a5.fa1854","8b39749e.8a0db"]]},{"id":"40b59027.5e53b","type":"ui_chart","z":"db478359.e18518","name":"","group":"41416fdc.650358","order":1,"width":0,"height":0,"label":"Temperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#ff9595","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":530,"y":80,"wires":[[],[]]},{"id":"6481e52e.aa2454","type":"ui_gauge","z":"db478359.e18518","name":"","group":"41416fdc.650358","order":4,"width":"3","height":"3","gtype":"gage","title":"Temperatur","label":"","format":"{{value}} °C","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"22","seg2":"25","x":531.9443969726562,"y":123.1944580078125,"wires":[]},{"id":"4ee12c01.47252c","type":"ui_chart","z":"db478359.e18518","name":"","group":"41416fdc.650358","order":2,"width":0,"height":0,"label":"relative Luftfeuchte","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#aec7e8","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":551.9443969726562,"y":163.1944580078125,"wires":[[],[]]},{"id":"d10f5d1e.fff078","type":"ui_gauge","z":"db478359.e18518","name":"","group":"41416fdc.650358","order":5,"width":"3","height":"3","gtype":"gage","title":"rel. Luftfeuchte","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"65","seg2":"75","x":541.9443969726562,"y":203.1944580078125,"wires":[]},{"id":"816ea18d.62a09","type":"ui_chart","z":"db478359.e18518","name":"","group":"4d57253a.4ccefc","order":1,"width":0,"height":0,"label":"Temperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#ff9595","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":530,"y":380,"wires":[[],[]]},{"id":"21a19b65.b77dfc","type":"ui_gauge","z":"db478359.e18518","name":"","group":"4d57253a.4ccefc","order":4,"width":"3","height":"3","gtype":"gage","title":"Temperatur","label":"","format":"{{value}} °C","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"22","seg2":"25","x":530,"y":420,"wires":[]},{"id":"97b8240d.671a78","type":"ui_chart","z":"db478359.e18518","name":"","group":"4d57253a.4ccefc","order":2,"width":0,"height":0,"label":"relative Luftfeuchte","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#aec7e8","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":550,"y":460,"wires":[[],[]]},{"id":"a471430f.f10f3","type":"ui_gauge","z":"db478359.e18518","name":"","group":"4d57253a.4ccefc","order":5,"width":"3","height":"3","gtype":"gage","title":"rel. Luftfeuchte","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"80","x":540,"y":500,"wires":[]},{"id":"13b142cd.1a4fad","type":"ui_text","z":"db478359.e18518","group":"41416fdc.650358","order":6,"width":"6","height":"2","name":"","label":"Optimal: <br> T = 18 °C <br>  rel. Feuchte = 40-60 % ","format":"","layout":"row-spread","x":232.49993896484375,"y":55,"wires":[]},{"id":"f62c678f.b4a998","type":"ui_text","z":"db478359.e18518","group":"4d57253a.4ccefc","order":6,"width":"6","height":"2","name":"","label":"Optimal: <br> T = 23 °C <br>  rel. Feuchte = 50-70 % ","format":"","layout":"row-spread","x":234.99993896484375,"y":332.5,"wires":[]},{"id":"8b39749e.8a0db","type":"change","z":"db478359.e18518","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Bad","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":400,"wires":[["cefd05d4.3896"]]},{"id":"db958a1a.fe8c78","type":"switch","z":"db478359.e18518","name":"Humid > 80 %","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"80","vt":"str"}],"checkall":"false","outputs":1,"x":1220.0001220703125,"y":396.25,"wires":[["b192cede.9bd2c"]]},{"id":"9e02af86.95a098","type":"function","z":"db478359.e18518","name":"Nachricht: Humid","func":"var msg1 = {\"topic\": msg.topic,\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Achtung! Die Luftfeuchte im \"+ msg.topic + \" beträgt momentan \" + msg.payload + \" %.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1530,"y":397.5,"wires":[["1fa3be03.160822"]]},{"id":"cefd05d4.3896","type":"delay","z":"db478359.e18518","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1041.2501220703125,"y":398.75,"wires":[["db958a1a.fe8c78"]]},{"id":"f640de77.a1f81","type":"change","z":"db478359.e18518","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Küche","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":120,"wires":[["78546078.aa5e3"]]},{"id":"64de143e.b39ff4","type":"switch","z":"db478359.e18518","name":"Humid > 70 %","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"70","vt":"str"}],"checkall":"false","outputs":1,"x":1220.0001220703125,"y":118.75,"wires":[["4e8783f3.265c7c"]]},{"id":"ba0ad282.1b2f5","type":"function","z":"db478359.e18518","name":"Nachricht: Humid","func":"var msg1 = {\"topic\": msg.topic,\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Achtung! Die Luftfeuchte in der \"+ msg.topic + \" beträgt momentan \" + msg.payload + \" %.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1530,"y":120,"wires":[["1fa3be03.160822"]]},{"id":"78546078.aa5e3","type":"delay","z":"db478359.e18518","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1040.0001220703125,"y":120,"wires":[["64de143e.b39ff4"]]},{"id":"90fce28.7f287a","type":"comment","z":"db478359.e18518","name":"Küche","info":"","x":60.00006103515625,"y":20,"wires":[]},{"id":"5477b2b8.b6a044","type":"comment","z":"db478359.e18518","name":"Bad","info":"","x":60.00006103515625,"y":298.75,"wires":[]},{"id":"5974339f.ade104","type":"comment","z":"db478359.e18518","name":"Alarm","info":"","x":850,"y":20,"wires":[]},{"id":"ee0ba2ad.716be8","type":"smooth","z":"db478359.e18518","name":"","action":"mean","count":"4","round":"2","mult":"single","x":280,"y":202.5,"wires":[["4ee12c01.47252c"]]},{"id":"e2a2ed5d.07e0d","type":"smooth","z":"db478359.e18518","name":"","action":"max","count":"1000","round":"2","mult":"single","x":280,"y":242.5,"wires":[["fcc3f69b.7511d8"]]},{"id":"fcc3f69b.7511d8","type":"ui_text","z":"db478359.e18518","group":"41416fdc.650358","order":3,"width":0,"height":0,"name":"","label":"max. gemessene Luftfeuchte","format":"{{msg.payload}} %","layout":"row-left","x":581.9443969726562,"y":243.1944580078125,"wires":[]},{"id":"96c4ee65.a507f","type":"smooth","z":"db478359.e18518","name":"","action":"max","count":"1000","round":"2","mult":"single","x":260,"y":500,"wires":[["c46a5181.1f98f"]]},{"id":"c46a5181.1f98f","type":"ui_text","z":"db478359.e18518","group":"4d57253a.4ccefc","order":3,"width":0,"height":0,"name":"","label":"max. gemessene Luftfeuchte","format":"{{msg.payload}} %","layout":"row-left","x":580,"y":540,"wires":[]},{"id":"6e270131.cffdf","type":"smooth","z":"db478359.e18518","name":"","action":"max","count":"1000","round":"2","mult":"single","x":235,"y":787.5,"wires":[["eb508c3c.39009"]]},{"id":"eb508c3c.39009","type":"ui_text","z":"db478359.e18518","group":"2a660420.98c74c","order":3,"width":0,"height":0,"name":"","label":"max. gemessene Luftfeuchte","format":"{{msg.payload}} %","layout":"row-left","x":575,"y":807.5,"wires":[]},{"id":"c3c4e47b.424968","type":"smooth","z":"db478359.e18518","name":"max","action":"max","count":"1000","round":"2","mult":"single","x":230,"y":1060,"wires":[["f4a82f2c.3a0a6"]]},{"id":"f4a82f2c.3a0a6","type":"ui_text","z":"db478359.e18518","group":"509dac9.99562d4","order":3,"width":0,"height":0,"name":"","label":"max. gemessene Luftfeuchte","format":"{{msg.payload}} %","layout":"row-left","x":580,"y":1100,"wires":[]},{"id":"cd5adf0.cb77c2","type":"smooth","z":"db478359.e18518","name":"","action":"mean","count":"4","round":"2","mult":"single","x":235,"y":747.5,"wires":[["ac5f53e.960a93"]]},{"id":"19a6e3a5.fa1854","type":"smooth","z":"db478359.e18518","name":"","action":"mean","count":"4","round":"2","mult":"single","x":260,"y":460,"wires":[["97b8240d.671a78"]]},{"id":"f048bd2a.f6951","type":"smooth","z":"db478359.e18518","name":"","action":"mean","count":"4","round":"2","mult":"single","x":240,"y":1020,"wires":[["abc41e24.277088"]]},{"id":"95469f6e.76b2e8","type":"delay","z":"cfd4e6f2.2e63a","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":180,"wires":[["7d8dc92f.08e288"]]},{"id":"ec73e250.cc771","type":"delay","z":"cfd4e6f2.2e63a","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":200,"wires":[["5b5be672.aa5d8"]]},{"id":"62d2fbb8.719a04","type":"delay","z":"cfd4e6f2.2e63a","name":"","pauseType":"delay","timeout":"150","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":220,"wires":[["b7298a72.d2232"]]},{"id":"1e71eb03.54a69d","type":"delay","z":"cfd4e6f2.2e63a","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":240,"wires":[["5dd6f681.d321c"]]},{"id":"9e6dfe28.410b5","type":"delay","z":"cfd4e6f2.2e63a","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":260,"wires":[["213eb297.22fb0e"]]},{"id":"ee82ce.a0572d3","type":"delay","z":"cfd4e6f2.2e63a","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":280,"wires":[["d89103db.d08608"]]},{"id":"d795a007.4f292","type":"delay","z":"cfd4e6f2.2e63a","name":"","pauseType":"delay","timeout":"350","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":300,"wires":[["8bb2b515.dfad28"]]},{"id":"840d3f65.5da2c8","type":"delay","z":"cfd4e6f2.2e63a","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":320,"wires":[["6590bea1.24009"]]},{"id":"b3cb71a9.8a5c2","type":"delay","z":"cfd4e6f2.2e63a","name":"","pauseType":"delay","timeout":"450","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":340,"wires":[["f0cf5b07.1ad4"]]},{"id":"1fa7c3d3.1e0684","type":"delay","z":"cfd4e6f2.2e63a","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":360,"wires":[["fce6b91e.0fa01"]]},{"id":"57fad1bb.c49bd","type":"delay","z":"cfd4e6f2.2e63a","name":"","pauseType":"delay","timeout":"550","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":380,"wires":[["c213965e.53779"]]},{"id":"a660cc59.0ac9d8","type":"change","z":"db478359.e18518","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Küche","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":80,"wires":[["7657503a.134fd8"]]},{"id":"86326cfa.9fd28","type":"switch","z":"db478359.e18518","name":"Temp < 17 °C","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"17","vt":"str"}],"checkall":"false","outputs":1,"x":1220.0001220703125,"y":78.75,"wires":[["be8533dc.d9dad"]]},{"id":"805bee90.7408f","type":"function","z":"db478359.e18518","name":"Nachricht: Temp","func":"var msg1 = {\"topic\": msg.topic,\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Achtung! Die Temperatur in der \"+ msg.topic + \" beträgt momentan \" + msg.payload + \" °C.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1520,"y":80,"wires":[["1fa3be03.160822"]]},{"id":"7657503a.134fd8","type":"delay","z":"db478359.e18518","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1040.0001220703125,"y":80,"wires":[["86326cfa.9fd28"]]},{"id":"be8533dc.d9dad","type":"change","z":"db478359.e18518","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":80,"wires":[["805bee90.7408f"]]},{"id":"4e8783f3.265c7c","type":"change","z":"db478359.e18518","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1369.9999389648438,"y":121.25,"wires":[["ba0ad282.1b2f5"]]},{"id":"b192cede.9bd2c","type":"change","z":"db478359.e18518","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1371.25,"y":397.5,"wires":[["9e02af86.95a098"]]},{"id":"d7b26741.b5afa8","type":"change","z":"db478359.e18518","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":680,"wires":[["d634d2c0.b88368"]]},{"id":"bf3611c7.820238","type":"change","z":"db478359.e18518","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370.0001220703125,"y":976.25,"wires":[["547c6cd9.c1f5c4"]]},{"id":"75fd782b.edd7e","type":"change","z":"db478359.e18518","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Küche","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":360,"wires":[["80317fc7.952e"]]},{"id":"eeb2e460.7c5688","type":"switch","z":"db478359.e18518","name":"Temp < 17 °C","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"17","vt":"str"}],"checkall":"false","outputs":1,"x":1220.0001220703125,"y":358.75,"wires":[["d7bbf03d.ccd62"]]},{"id":"5e7b8e98.94ee68","type":"function","z":"db478359.e18518","name":"Nachricht: Temp","func":"var msg1 = {\"topic\": msg.topic,\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Achtung! Die Temperatur im \"+ msg.topic + \" beträgt momentan \" + msg.payload + \" °C.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1520,"y":360,"wires":[["1fa3be03.160822"]]},{"id":"80317fc7.952e","type":"delay","z":"db478359.e18518","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1040.0001220703125,"y":360,"wires":[["eeb2e460.7c5688"]]},{"id":"d7bbf03d.ccd62","type":"change","z":"db478359.e18518","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":360,"wires":[["5e7b8e98.94ee68"]]},{"id":"9384ffb3.3ba7e","type":"change","z":"db478359.e18518","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Küche","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":640,"wires":[["b2f1cfe4.c41dc8"]]},{"id":"dc097e53.76ec98","type":"switch","z":"db478359.e18518","name":"Temp < 17 °C","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"17","vt":"str"}],"checkall":"false","outputs":1,"x":1213.7501220703125,"y":638.75,"wires":[["f0183285.133ed8"]]},{"id":"243c6e40.9919aa","type":"function","z":"db478359.e18518","name":"Nachricht: Temp","func":"var msg1 = {\"topic\": msg.topic,\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Achtung! Die Temperatur im \"+ msg.topic + \" beträgt momentan \" + msg.payload + \" °C.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1520,"y":640,"wires":[["1fa3be03.160822"]]},{"id":"b2f1cfe4.c41dc8","type":"delay","z":"db478359.e18518","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1038.7501220703125,"y":640,"wires":[["dc097e53.76ec98"]]},{"id":"f0183285.133ed8","type":"change","z":"db478359.e18518","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":640,"wires":[["243c6e40.9919aa"]]},{"id":"fdab28cc.fabd1","type":"change","z":"db478359.e18518","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Küche","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":940,"wires":[["6a6024c0.ab993c"]]},{"id":"ee127500.5e169","type":"switch","z":"db478359.e18518","name":"Temp < 17°C","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"17","vt":"str"}],"checkall":"false","outputs":1,"x":1210.0001220703125,"y":938.75,"wires":[["9d631cf9.2b2f8"]]},{"id":"d8e14df4.68521","type":"function","z":"db478359.e18518","name":"Nachricht: Temp","func":"var msg1 = {\"topic\": msg.topic,\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Achtung! Die Temperatur im \"+ msg.topic + \" beträgt momentan \" + msg.payload + \" °C.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1520,"y":940,"wires":[["1fa3be03.160822"]]},{"id":"6a6024c0.ab993c","type":"delay","z":"db478359.e18518","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1040.0001220703125,"y":940,"wires":[["ee127500.5e169"]]},{"id":"9d631cf9.2b2f8","type":"change","z":"db478359.e18518","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":940,"wires":[["d8e14df4.68521"]]},{"id":"62aed038.59609","type":"smooth","z":"db478359.e18518","name":"","action":"mean","count":"5","round":"2","mult":"single","x":305,"y":1280,"wires":[["9fbdab88.c91878"]]},{"id":"733a609c.65f328","type":"smooth","z":"db478359.e18518","name":"min","action":"min","count":"1000","round":"2","mult":"single","x":295,"y":1323.75,"wires":[["fe243f06.94dd6"]]},{"id":"fe243f06.94dd6","type":"ui_text","z":"db478359.e18518","group":"15ba0f05.7bccc1","order":0,"width":0,"height":0,"name":"","label":"tiefste Temperatur: ","format":"{{msg.payload}} °C","layout":"row-left","x":548.1943969726562,"y":1323.1944580078125,"wires":[]},{"id":"9d3d9bd.8ace9e8","type":"ui_chart","z":"db478359.e18518","name":"","group":"29b00826.677e68","order":1,"width":"0","height":"0","label":"Boden- und Außentemperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#aec7e8","#27b62b","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":581.25,"y":1553.75,"wires":[[],[]]},{"id":"8aba5bdc.3ca108","type":"ui_gauge","z":"db478359.e18518","name":"","group":"ee35224b.693cc","order":2,"width":0,"height":0,"gtype":"gage","title":"Außentemperatur","label":"","format":"{{value}} °C","min":"-10","max":"30","colors":["#3e1cff","#2dbc29","#ca3838"],"seg1":"10","seg2":"20","x":542.5,"y":1646.25,"wires":[]},{"id":"644cd58f.e38464","type":"smooth","z":"db478359.e18518","name":"min","action":"min","count":"1000","round":"2","mult":"single","x":388.7500305175781,"y":1680,"wires":[["a58ca1c3.dbb8"]]},{"id":"a58ca1c3.dbb8","type":"ui_text","z":"db478359.e18518","group":"ee35224b.693cc","order":3,"width":0,"height":0,"name":"","label":"tiefste Temperatur: ","format":"{{msg.payload}} °C","layout":"row-left","x":541.9444274902344,"y":1680.6943969726562,"wires":[]},{"id":"15080dd7.be653a","type":"smooth","z":"db478359.e18518","name":"min","action":"min","count":"1000","round":"2","mult":"single","x":382.5,"y":1483.75,"wires":[["be258fb2.560b38"]]},{"id":"be258fb2.560b38","type":"ui_text","z":"db478359.e18518","group":"29b00826.677e68","order":3,"width":0,"height":0,"name":"","label":"tiefste Temperatur: ","format":"{{msg.payload}} °C","layout":"row-left","x":545.6944274902344,"y":1484.4443969726562,"wires":[]},{"id":"5720b8e9.b70838","type":"change","z":"db478359.e18518","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Bodentemperatur","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":277.5,"y":1540,"wires":[["9d3d9bd.8ace9e8"]]},{"id":"e19a4bfe.25fe7","type":"change","z":"db478359.e18518","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Außentemperatur","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":277.5,"y":1571.25,"wires":[["9d3d9bd.8ace9e8"]]},{"id":"20d095f8.46ffba","type":"ui_chart","z":"db478359.e18518","name":"","group":"ee35224b.693cc","order":1,"width":0,"height":0,"label":"Außentemperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":542.5,"y":1606.25,"wires":[[],[]]},{"id":"a848f94c.0ec2c","type":"delay","z":"db478359.e18518","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1360,"y":1540,"wires":[["3a78417c.22314e"]]},{"id":"edd9f92c.dd11e8","type":"switch","z":"db478359.e18518","name":"Switch:Temp < 0 °C","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"0","vt":"str"}],"checkall":"false","outputs":1,"x":1110,"y":1580,"wires":[["2a44231d.cc38f4"]]},{"id":"2a44231d.cc38f4","type":"delay","z":"db478359.e18518","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1360,"y":1580,"wires":[["3a78417c.22314e"]]},{"id":"d7aee835.6869e","type":"function","z":"cfd4e6f2.2e63a","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Guten Morgen, draußen sind es \" + msg.payload +\" °C.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":940,"wires":[["2812751f.bcf13a"]]},{"id":"4f277f3.e8f328","type":"change","z":"cfd4e6f2.2e63a","name":"set Payload to flow.Außentemperatur","rules":[{"t":"set","p":"payload","pt":"msg","to":"Außen","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":940,"wires":[["d7aee835.6869e"]]},{"id":"c8ddde3e.87bcd8","type":"delay","z":"cfd4e6f2.2e63a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":540,"y":940,"wires":[["4f277f3.e8f328"]]},{"id":"5bbaa288.24446c","type":"delay","z":"358da7eb.8d632","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":180,"wires":[["cd569a99.4951b"]]},{"id":"9dbe8589.0c4ed","type":"comment","z":"cfd4e6f2.2e63a","name":"Guten-Morgen-Temperatur","info":"","x":470,"y":880,"wires":[]},{"id":"eef8b6f7.8069a","type":"inject","z":"cfd4e6f2.2e63a","name":"GutenMorgen-Msg","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 07 * * *","once":false,"x":300,"y":940,"wires":[["c8ddde3e.87bcd8"]]},{"id":"427cc41e.09b9cc","type":"chatbot-telegram-receive","z":"3d904d53.25e5da","bot":"d0d9c37f.eb1998","x":95,"y":166.11112213134766,"wires":[["999530fa.9441a8"]]},{"id":"e679bf4e.179ed","type":"chatbot-telegram-send","z":"3d904d53.25e5da","bot":"d0d9c37f.eb1998","track":false,"outputs":0,"x":1141.2498779296875,"y":176.25000762939453,"wires":[]},{"id":"cf8db1a5.81855","type":"ui_chart","z":"3d904d53.25e5da","name":"","group":"8d1a0c68.1bc748","order":1,"width":0,"height":0,"label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"keine Daten","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":730.4166870117188,"y":220.83335876464844,"wires":[[],[]]},{"id":"c1479158.e929c","type":"ui_text_input","z":"3d904d53.25e5da","name":"UI-Text input","label":"Jonas mit Text nerven:","group":"9cd947f1.0e666","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":730.0000305175781,"y":88.75001525878906,"wires":[["990d68eb.c55e88"]]},{"id":"990d68eb.c55e88","type":"function","z":"3d904d53.25e5da","name":"convert Text input","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : msg.payload} };\nreturn msg;","outputs":1,"noerr":0,"x":908.75,"y":87.50003051757812,"wires":[["29e6ac0c.0debdc"]]},{"id":"29e6ac0c.0debdc","type":"chatbot-conversation","z":"3d904d53.25e5da","name":"","botTelegram":"d0d9c37f.eb1998","botSlack":"","botFacebook":"","chatId":"173173012","transport":"telegram","messageId":"","contextMessageId":false,"store":"","x":959.1666259765625,"y":175.27780151367188,"wires":[["e679bf4e.179ed"]]},{"id":"f7fda960.601498","type":"Message Counter","z":"3d904d53.25e5da","name":"","units":"hours","interval":"24","alignToClock":true,"generator":"internal","x":503.49993896484375,"y":255.1111297607422,"wires":[["a95132b2.f18b6","cf8db1a5.81855","e3b8eb3d.7ec108"],[]]},{"id":"999530fa.9441a8","type":"chatbot-command","z":"3d904d53.25e5da","name":"","command":"/kippe","x":225.888916015625,"y":259.2222442626953,"wires":[["6d948a0c.7e35e4","f7fda960.601498","80be1d2a.cf6868"]]},{"id":"a95132b2.f18b6","type":"ui_text","z":"3d904d53.25e5da","group":"8d1a0c68.1bc748","order":2,"width":0,"height":0,"name":"","label":"Kippen: ","format":"{{msg.payload}}","layout":"row-left","x":718.5833740234375,"y":186.44444274902344,"wires":[]},{"id":"6d948a0c.7e35e4","type":"change","z":"3d904d53.25e5da","name":"publish count","rules":[{"t":"set","p":"topic","pt":"msg","to":"mc-control","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"report","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":314.2777404785156,"y":366.22216033935547,"wires":[["f7fda960.601498"]]},{"id":"e3b8eb3d.7ec108","type":"function","z":"3d904d53.25e5da","name":"sendet Kippenanzahl","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Du hast heute schon \" + msg.payload +\" Zigaretten geraucht.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":788.3333129882812,"y":308.8333740234375,"wires":[["29e6ac0c.0debdc"]]},{"id":"7c9750f8.2be628","type":"comment","z":"358da7eb.8d632","name":"Sendet jede Stunde die Außentemperatur an Google","info":"Problem:\nDie Werte werden jedoch als Text und\nnicht als Zahl behandelt.","x":252.70832061767578,"y":114.16666030883789,"wires":[]},{"id":"b4f6614e.5ecf","type":"file","z":"358da7eb.8d632","name":"","filename":"~/home/test/test1","appendNewline":true,"createDir":true,"overwriteFile":"false","x":351.8750190734863,"y":281.2500190734863,"wires":[]},{"id":"80be1d2a.cf6868","type":"interval-length","z":"3d904d53.25e5da","format":"human","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","startup":false,"name":"","x":375.00002179827004,"y":531.4285932268415,"wires":[["70ede215.d9d7a4","e329b5d.18b3948"]]},{"id":"70ede215.d9d7a4","type":"function","z":"3d904d53.25e5da","name":"sendet Kippenintervall","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Vor \" + msg.payload +\" war deine letzte.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":746.1904907226562,"y":533.3333740234375,"wires":[["29e6ac0c.0debdc"]]},{"id":"aede99fc.bc3648","type":"ui_gauge","z":"89495e4f.f1df38","name":"","group":"a0697976.f3191","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Temperatur","label":"","format":"{{value}} °C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1002.6666259765625,"y":92,"wires":[]},{"id":"4d40a2bb.e63524","type":"exec","z":"89495e4f.f1df38","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":333.4166259765625,"y":112,"wires":[["374f8f96.96fca"],[],[]]},{"id":"9dc4cd49.d95c2","type":"inject","z":"89495e4f.f1df38","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":119.6666259765625,"y":172,"wires":[["4d40a2bb.e63524","99a6a934.59e038","d77d9d86.b0444"]]},{"id":"374f8f96.96fca","type":"function","z":"89495e4f.f1df38","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":567.1666259765625,"y":98.25,"wires":[["aede99fc.bc3648","3a4120ec.64f0a"]]},{"id":"c4333286.894da8","type":"ui_button","z":"89495e4f.f1df38","name":"","group":"fe6258c6.d5989","order":2,"width":0,"height":0,"passthru":false,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":72.1666259765625,"y":834.5,"wires":[["b75d0f6e.8043"]]},{"id":"b75d0f6e.8043","type":"exec","z":"89495e4f.f1df38","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":724.6666259765625,"y":839.5,"wires":[[],[],[]]},{"id":"4275db6b.ee778c","type":"ui_button","z":"89495e4f.f1df38","name":"","group":"fe6258c6.d5989","order":3,"width":0,"height":0,"passthru":false,"label":"Shutdown","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":69.6666259765625,"y":879.5,"wires":[["d03fc4b8.5605c8"]]},{"id":"d03fc4b8.5605c8","type":"exec","z":"89495e4f.f1df38","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":723.4166259765625,"y":879.5,"wires":[[],[],[]]},{"id":"3a4120ec.64f0a","type":"ui_chart","z":"89495e4f.f1df38","name":"","group":"a0697976.f3191","order":3,"width":0,"height":0,"label":"Temperatur [°C]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"30","ymax":"80","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":992.6666259765625,"y":131,"wires":[[],[]]},{"id":"99a6a934.59e038","type":"exec","z":"89495e4f.f1df38","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":333.4166259765625,"y":172,"wires":[["1ae8ddc7.19880a"],[],[]]},{"id":"d77d9d86.b0444","type":"exec","z":"89495e4f.f1df38","command":"free | grep Mem | awk '{print (100*($4+$6+$7)/$2)}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Free Memory","x":343.4166259765625,"y":232,"wires":[["918d2302.231298"],[],[]]},{"id":"1ae8ddc7.19880a","type":"ui_gauge","z":"89495e4f.f1df38","name":"","group":"a0697976.f3191","order":1,"width":0,"height":0,"gtype":"gage","title":"Prozessorauslastung","label":"CPU","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010.1666259765625,"y":168.74998474121094,"wires":[]},{"id":"918d2302.231298","type":"ui_gauge","z":"89495e4f.f1df38","name":"","group":"996a44d.8a19db8","order":1,"width":0,"height":0,"gtype":"gage","title":"Arbeitsspeicher","label":"RAM","format":"{{value.toFixed(1)}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":991.6666259765625,"y":212.49998474121094,"wires":[]},{"id":"d663c4e1.e26ac","type":"exec","z":"89495e4f.f1df38","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Disk Usage","x":333.4166259765625,"y":312,"wires":[["808dd641.9d507"],[],[]]},{"id":"b8fea0ab.794c2","type":"ui_gauge","z":"89495e4f.f1df38","name":"","group":"996a44d.8a19db8","order":2,"width":0,"height":0,"gtype":"gage","title":"Belegter Speicherplatz","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1009.6666259765625,"y":293.25,"wires":[]},{"id":"808dd641.9d507","type":"function","z":"89495e4f.f1df38","name":"Speicher","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":524.6666259765625,"y":299.5,"wires":[["b8fea0ab.794c2","6a7adf6a.73176","589d5dc0.213e54","e60fe61.cd16b18","8e758e9f.0f135"]]},{"id":"72178554.f0608c","type":"inject","z":"89495e4f.f1df38","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":120.9166259765625,"y":312,"wires":[["d663c4e1.e26ac"]]},{"id":"d17bb140.89bb7","type":"function","z":"89495e4f.f1df38","name":"Sende Payload als Nachricht","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Der Speicher der Himbeere ist zu \" + msg.payload +\" % belegt.\"} };\nreturn msg2;","outputs":1,"noerr":0,"x":1104.6666259765625,"y":712,"wires":[["d09fcdc1.baa55"]]},{"id":"99a62f75.1ecbc","type":"change","z":"89495e4f.f1df38","name":"set Payload to flow.Speicher","rules":[{"t":"set","p":"payload","pt":"msg","to":"Speicher","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":783.4166259765625,"y":712,"wires":[["d17bb140.89bb7"]]},{"id":"6a7adf6a.73176","type":"change","z":"89495e4f.f1df38","name":"","rules":[{"t":"set","p":"Speicher","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":768.4166259765625,"y":323.25,"wires":[[]]},{"id":"16878962.ab9467","type":"chatbot-telegram-receive","z":"89495e4f.f1df38","bot":"d0d9c37f.eb1998","x":98.4166259765625,"y":725.75,"wires":[["f2a2c5e8.c5d73","1e2e6c79.205a1c","58ebb3e6.1ed0dc","50890475.ebaee4","6d37d932.2d345","640fcf0.e077cb","888d72e6.b2bba"]]},{"id":"f2a2c5e8.c5d73","type":"chatbot-command","z":"89495e4f.f1df38","name":"","command":"/speicher","x":324.6666259765625,"y":624.5,"wires":[["99a62f75.1ecbc"]],"outputLabels":["/wz"]},{"id":"d09fcdc1.baa55","type":"chatbot-conversation","z":"89495e4f.f1df38","name":"","botTelegram":"d0d9c37f.eb1998","botSlack":"","botFacebook":"","chatId":"173173012","transport":"telegram","messageId":"","contextMessageId":false,"store":"","x":1575.4166259765625,"y":732,"wires":[["9ed145b4.31e9d8"]]},{"id":"7e6a88b.4cda178","type":"function","z":"89495e4f.f1df38","name":"Sende Payload als Nachricht","func":"var msg1 = {\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Achtung! Der Speicher der Himbeere ist zu \" + msg.payload + \" % belegt. Die logs werden automatisch gelöscht. Bitte warte oder reboote.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1109.9166259765625,"y":482,"wires":[["d09fcdc1.baa55"]]},{"id":"589d5dc0.213e54","type":"switch","z":"89495e4f.f1df38","name":"Switch:Disk > 80 %","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"80","vt":"str"}],"checkall":"false","outputs":1,"x":495.9166259765625,"y":482,"wires":[["1c7f4c63.01eadc","b34aa9e9.9c18a"]]},{"id":"1c7f4c63.01eadc","type":"delay","z":"89495e4f.f1df38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":775.9166259765625,"y":483.25,"wires":[["7e6a88b.4cda178"]]},{"id":"a4c5de64.dc2ed","type":"comment","z":"89495e4f.f1df38","name":"Achtung, wenn Speicher über 80% belegt","info":"","x":547.9166259765625,"y":445,"wires":[]},{"id":"9f537347.9f38","type":"function","z":"89495e4f.f1df38","name":"Sende Payload als Nachricht","func":"var msg1 = {\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Die Speicherbelegung der Himbeere ist nun unter 15 %. \"+ \"Sie beträgt momentan \" + msg.payload + \" %. Die logs wurden wohl gelöscht.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1105.9166259765625,"y":564.5,"wires":[["d09fcdc1.baa55"]]},{"id":"e60fe61.cd16b18","type":"switch","z":"89495e4f.f1df38","name":"Switch:Disk < 15 %","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"15","vt":"str"}],"checkall":"false","outputs":1,"x":495.9166259765625,"y":562,"wires":[["16bdc7ee.a32dc"]]},{"id":"16bdc7ee.a32dc","type":"delay","z":"89495e4f.f1df38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":774.6666259765625,"y":562,"wires":[["9f537347.9f38"]]},{"id":"3bac1729.bad99","type":"comment","z":"89495e4f.f1df38","name":"Info: Logs wurden gelöscht","info":"","x":495.9166259765625,"y":522,"wires":[]},{"id":"1e2e6c79.205a1c","type":"chatbot-command","z":"89495e4f.f1df38","name":"","command":"/status","x":315.9166259765625,"y":710.75,"wires":[["99a62f75.1ecbc"]]},{"id":"58ebb3e6.1ed0dc","type":"chatbot-command","z":"89495e4f.f1df38","name":"","command":"/shutdown","x":334.6666259765625,"y":880.75,"wires":[["cca2befd.3dbac8","e263d3bc.5a7ce"]]},{"id":"50890475.ebaee4","type":"chatbot-command","z":"89495e4f.f1df38","name":"","command":"/reboot","x":324.6666259765625,"y":838.25,"wires":[["9451a87.ec169d8","b9a633eb.98b1c8"]]},{"id":"e263d3bc.5a7ce","type":"function","z":"89495e4f.f1df38","name":"Sende Payload als Nachricht","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die Himbeere wird in 3 Sekunden heruntergefahren.\"} };\nreturn msg2;","outputs":1,"noerr":0,"x":1103.4166259765625,"y":879.5,"wires":[["d09fcdc1.baa55"]]},{"id":"cca2befd.3dbac8","type":"delay","z":"89495e4f.f1df38","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":562.1666259765625,"y":879.5,"wires":[["d03fc4b8.5605c8"]]},{"id":"9451a87.ec169d8","type":"delay","z":"89495e4f.f1df38","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":563.4166259765625,"y":837,"wires":[["b75d0f6e.8043"]]},{"id":"b9a633eb.98b1c8","type":"function","z":"89495e4f.f1df38","name":"Sende Payload als Nachricht","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die Himbeere wird in 3 Sekunden neugestartet.\"} };\nreturn msg2;","outputs":1,"noerr":0,"x":1103.4166259765625,"y":837,"wires":[["d09fcdc1.baa55"]]},{"id":"f42e7d4c.98e858","type":"exec","z":"89495e4f.f1df38","command":"sudo apt-get clean","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":754.6666259765625,"y":758.25,"wires":[[],[],[]]},{"id":"6d37d932.2d345","type":"chatbot-command","z":"89495e4f.f1df38","name":"","command":"/clean","x":314.6666259765625,"y":758.25,"wires":[["f42e7d4c.98e858","1bafdc92.c92e6b"]]},{"id":"1bafdc92.c92e6b","type":"function","z":"89495e4f.f1df38","name":"Sende Payload als Nachricht","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Der Befehl sudo apt-get clean wurde ausgeführt.\"} };\nreturn msg2;","outputs":1,"noerr":0,"x":1103.4166259765625,"y":757,"wires":[["d09fcdc1.baa55"]]},{"id":"640fcf0.e077cb","type":"chatbot-command","z":"89495e4f.f1df38","name":"","command":"/remove","x":324.6666259765625,"y":664.5,"wires":[["b34aa9e9.9c18a","e4f75da3.db6aa8"]],"outputLabels":["/wz"]},{"id":"b34aa9e9.9c18a","type":"exec","z":"89495e4f.f1df38","command":"sudo rm /var/log/daemon.log /var/log/daemon.log.1 /var/log/syslog /var/log/syslog.1","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"löscht Logs","x":733.4166259765625,"y":664.5,"wires":[[],[],[]]},{"id":"e4f75da3.db6aa8","type":"function","z":"89495e4f.f1df38","name":"Sende Payload als Nachricht","func":"var msg1 = {\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Die logs sollten gelöscht worden sein.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1104.6666259765625,"y":664.5,"wires":[["d09fcdc1.baa55"]]},{"id":"888d72e6.b2bba","type":"chatbot-command","z":"89495e4f.f1df38","name":"","command":"/stop","x":314.6666259765625,"y":798.25,"wires":[["b3f2cc7c.5480b","1ba0a1d0.0098a6"]]},{"id":"d09ea0b0.e7ad2","type":"exec","z":"89495e4f.f1df38","command":"node-red-stop","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":744.6666259765625,"y":798.25,"wires":[[],[],[]]},{"id":"b3f2cc7c.5480b","type":"delay","z":"89495e4f.f1df38","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":564.6666259765625,"y":798.25,"wires":[["d09ea0b0.e7ad2"]]},{"id":"1ba0a1d0.0098a6","type":"function","z":"89495e4f.f1df38","name":"Sende Payload als Nachricht","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Node-Red wird in 3 Sekunden ausgeschaltet. Zuhause musst du's im Terminal wieder starten!\"} };\nreturn msg2;","outputs":1,"noerr":0,"x":1103.4166259765625,"y":797,"wires":[["d09fcdc1.baa55"]]},{"id":"a253f9b9.3a2c78","type":"ui_button","z":"89495e4f.f1df38","name":"","group":"fe6258c6.d5989","order":1,"width":0,"height":0,"passthru":false,"label":"clean Logs","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"","x":80.9166259765625,"y":662,"wires":[["b34aa9e9.9c18a"]]},{"id":"8e758e9f.0f135","type":"switch","z":"89495e4f.f1df38","name":"Speicher > 95 %","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"95","vt":"str"}],"checkall":"true","outputs":1,"x":523.4166259765625,"y":1072,"wires":[["9451a87.ec169d8","109368da.35c347"]]},{"id":"109368da.35c347","type":"function","z":"89495e4f.f1df38","name":"Sende Payload als Nachricht","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Auto-Reboot in 3 Sekunden. Speicher am Limit!\"} };\nreturn msg2;","outputs":1,"noerr":0,"x":843.4166259765625,"y":1072,"wires":[["d09fcdc1.baa55"]]},{"id":"52ff9100.b9735","type":"comment","z":"89495e4f.f1df38","name":"Auto-Reboot, wenn Speicher > 95%","info":"","x":547.7916450500488,"y":1001.1666603088379,"wires":[]},{"id":"efb3996e.04bed8","type":"inject","z":"89495e4f.f1df38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":1627.4166259765625,"y":1207,"wires":[["1daf7c40.d8e524"]]},{"id":"1daf7c40.d8e524","type":"function","z":"89495e4f.f1df38","name":"online","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"RPi-Control ist online. \" + msg.payload} };\nreturn msg2;","outputs":1,"noerr":0,"x":1582.083251953125,"y":1090.6666259765625,"wires":[["d09fcdc1.baa55"]]},{"id":"ff68bb00.36ee8","type":"debug","z":"cfd4e6f2.2e63a","name":"","active":true,"console":"false","complete":"false","x":572.9999999999999,"y":36.66665649414062,"wires":[]},{"id":"9ed145b4.31e9d8","type":"chatbot-telegram-send","z":"89495e4f.f1df38","bot":"d0d9c37f.eb1998","track":false,"outputs":0,"x":1732.3332824707027,"y":832.6666564941404,"wires":[]},{"id":"ce2c678f.8262a","type":"inject","z":"db478359.e18518","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":1937,"y":778,"wires":[["3f70049.25b4efc"]]},{"id":"3f70049.25b4efc","type":"function","z":"db478359.e18518","name":"online","func":"var msg1 = {\"topic\": msg.topic,\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Sensoren sind online. \" + msg.payload} };\nreturn msg1;","outputs":1,"noerr":0,"x":1922.666748046875,"y":734,"wires":[["1fa3be03.160822"]]},{"id":"ed31076c.0988e8","type":"inject","z":"cfd4e6f2.2e63a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":1005.0000305175779,"y":1030.000030517578,"wires":[["c0140b3c.b5d7c"]]},{"id":"c0140b3c.b5d7c","type":"function","z":"cfd4e6f2.2e63a","name":"online","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Telegram-Bot ist online. \" + msg.payload} };\nreturn msg;","outputs":1,"noerr":0,"x":1196.6666259765625,"y":1028.6666259765625,"wires":[["2812751f.bcf13a"]]},{"id":"75c0a1f8.88dd18","type":"function","z":"89495e4f.f1df38","name":"timeConvert-Funktioniert noch nicht","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1485.166748046875,"y":1162,"wires":[[]]},{"id":"1e6a2265.64863e","type":"mqtt in","z":"60051cec.cfc004","name":"Außentemp","topic":"/keller/temp/28ffca9721747","qos":"2","broker":"664eb3ef.b51cec","x":208.1666717529297,"y":117.16666412353516,"wires":[["eae11699.72879"]]},{"id":"eae11699.72879","type":"ui_chart","z":"60051cec.cfc004","name":"","group":"9cd947f1.0e666","order":1,"width":"12","height":"6","label":"Außentemperatur-Langzeit","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":694.9166717529297,"y":96.9166030883789,"wires":[["7c9a6e14.eb5e1"],[]]},{"id":"7c9a6e14.eb5e1","type":"persist in","z":"60051cec.cfc004","name":"Außentemp","storageNode":"2b70f91d.340f8e","x":992.8332977294922,"y":89.33334350585938,"wires":[]},{"id":"3f061378.cd5b4c","type":"persist out","z":"60051cec.cfc004","name":"Außentemp","storageNode":"2b70f91d.340f8e","x":721.8333587646484,"y":196.99998474121094,"wires":[["eae11699.72879"]]},{"id":"e329b5d.18b3948","type":"ui_text","z":"3d904d53.25e5da","group":"8d1a0c68.1bc748","order":3,"width":0,"height":0,"name":"","label":"Letzte Kippe vor ","format":"{{msg.payload}}","layout":"row-left","x":679.8333587646484,"y":627.8333587646484,"wires":[]},{"id":"84adbc09.af9b6","type":"ui_button","z":"3d904d53.25e5da","name":"","group":"8d1a0c68.1bc748","order":4,"width":0,"height":0,"passthru":false,"label":"Nächste Kippe","color":"","bgcolor":"","icon":"ui_button.png","payload":"","payloadType":"str","topic":"","x":102.99998474121094,"y":369.8333740234375,"wires":[["6d948a0c.7e35e4","f7fda960.601498","80be1d2a.cf6868"]]}]