telegram_mqtt_git.json
[{"id":"daaca598.db1fb","type":"tab","label":"RPI-Control","disabled":false,"info":""},{"id":"88b21650.b7cd4","type":"tab","label":"Sensoren/MQTT","disabled":false,"info":""},{"id":"a3010e25.2107e","type":"tab","label":"Telegram-Bot","disabled":false,"info":""},{"id":"4402170b.a797","type":"tab","label":"Counter","disabled":false,"info":"Zählt gerauchte Kippen,wenn bei Telegram \nder Befehl /kippe gesendet wird.\nGesamtanzahl (-1) wird zurückgeschickt.\n\nPROBLEM: Zählung beginnt bei 0.\nImmer eine Kippe zu wenig gezählt!\nEin Reset des Zählers ist bisher noch nicht möglich."},{"id":"7cc148a.18627b8","type":"tab","label":"Langzeit-Graph","disabled":false,"info":""},{"id":"31581c4b.97a8c4","type":"tab","label":"Data to Google Spreadsheet","disabled":false,"info":""},{"id":"efd5bd9c.32077","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#9d263e","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#9d263e","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#d13f5c","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#9d263e","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":10,"gy":10,"cx":8,"cy":4,"px":0,"py":0}}},{"id":"48b61eee.369028","type":"ui_group","z":"","name":"Actions","tab":"a81ae7be.8668d8","order":4,"disp":true,"width":"6"},{"id":"9a9bcd96.3728b","type":"ui_group","z":"","name":"Speicher","tab":"a81ae7be.8668d8","order":2,"disp":false,"width":"6","collapse":false},{"id":"a81ae7be.8668d8","type":"ui_tab","z":"","name":"RPi Control","icon":"settings_applications","order":5},{"id":"b512ddf8.30c2c8","type":"ui_tab","z":"","name":"Home","icon":"home","order":1},{"id":"a7ad9951.2548b8","type":"ui_group","z":"","name":"Bodentemperatur","tab":"692dab66.7f83a4","order":2,"disp":true,"width":"6","collapse":true},{"id":"fa6f670a.8af6c8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"msg.payload = {chatId :173173012, type : 'message', content : msg.payload}","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"9ae2fad3.2ef6b","type":"chatbot-telegram-node","z":"","botname":"FMS63_Bot","usernames":"","polling":"1000","store":"","log":"","parseMode":""},{"id":"1eb5f175.24493f","type":"ui_group","z":"","name":"Prozessor","tab":"a81ae7be.8668d8","order":1,"disp":false,"width":"6","collapse":false},{"id":"604979ca.5c81","type":"chatbot-telegram-node","z":"a3010e25.2107e","botname":"FMS63_Bot","usernames":"","polling":"1000","store":"","log":"","parseMode":""},{"id":"c68a9a91.867c5","type":"chatbot-telegram-node","z":"a3010e25.2107e","botname":"FMS63_Bot","usernames":"","polling":"1000","store":"","log":"","parseMode":""},{"id":"42f097d1.786b78","type":"ui_group","z":"","name":"Keller","tab":"b512ddf8.30c2c8","order":5,"disp":true,"width":"6","collapse":true},{"id":"c32b961d.74e278","type":"ui_group","z":"","name":"UV","tab":"692dab66.7f83a4","order":3,"disp":true,"width":"6","collapse":true},{"id":"692dab66.7f83a4","type":"ui_tab","z":"","name":"Garten","icon":"nature_people","order":2},{"id":"76c2741a.cf162c","type":"ui_group","z":"","name":"Wohnzimmer","tab":"b512ddf8.30c2c8","order":3,"disp":true,"width":"6","collapse":true},{"id":"31093ace.5bd31e","type":"ui_group","z":"","name":"Außentemperatur","tab":"f0b33a40.48e7b","order":1,"disp":true,"width":"12","collapse":true},{"id":"8f021d0b.b6468","type":"ui_group","z":"","name":"Küche","tab":"b512ddf8.30c2c8","order":1,"disp":true,"width":"6","collapse":true},{"id":"d8adad0d.437698","type":"ui_group","z":"","name":"Bad","tab":"b512ddf8.30c2c8","order":2,"disp":true,"width":"6","collapse":true},{"id":"517c4aab.63262c","type":"ui_group","z":"","name":"Schlafzimmer","tab":"b512ddf8.30c2c8","order":4,"disp":true,"width":"6","collapse":true},{"id":"901b06c7.69a9b","type":"ui_tab","z":"","name":"Counter","icon":"smoke_rooms","order":4},{"id":"8bb42d27.da57c8","type":"ui_group","z":"","name":"Kippencounter","tab":"901b06c7.69a9b","disp":true,"width":"6","collapse":false},{"id":"5ad6b993.e52a38","type":"persist-store","z":"","filename":"persistance_langzeit-temp.json","interval":"60"},{"id":"f0b33a40.48e7b","type":"ui_tab","z":"","name":"Langzeit","icon":"timelapse","order":3},{"id":"63c37945.44385","type":"ui_group","z":"","name":"Außentemperatur","tab":"692dab66.7f83a4","order":1,"disp":true,"width":"6","collapse":true},{"id":"11b86915.0a264f","type":"persist-store","z":"","filename":"persistance_kippen.json","interval":"60"},{"id":"4b4dc27f.5f814c","type":"persist-store","z":"","filename":"persistance_bodentemp.json","interval":"60"},{"id":"c2a5d7ff.9af3f","type":"ui_group","z":"","name":"Biercounter","tab":"901b06c7.69a9b","order":2,"disp":true,"width":"6","collapse":true},{"id":"b6cfab4c.63f658","type":"persist-store","z":"","filename":"persistance_bier.json","interval":"60"},{"id":"f54d5b91.51469","type":"persist-store","z":"","filename":"persist_kippen.json","interval":"60"},{"id":"e3062250.fc4f3","type":"persist-store","z":"","filename":"persist_bier.json","interval":"60"},{"id":"e37d2966.be457","type":"mqtt in","z":"31581c4b.97a8c4","name":"Außentemp","topic":"/keller/temp/28ffca9721747","qos":"2","broker":"fa6f670a.8af6c8","x":103.91670227050781,"y":175.00001525878906,"wires":[["8180a8a7.44941","b9e93b77.cd89d8"]]},{"id":"5b246bf9.4f1f14","type":"http request","z":"31581c4b.97a8c4","name":"","method":"GET","url":"https://docs.google.com/forms/d/e/1FAIpQLSeTRGyz6_9BH8iho8E065MWHGQNCzRutZUUjgMDW4ByMO_7XQ/formResponse?entry.578420309={{payload}}","tls":"","x":598.9167022705078,"y":174.00001525878906,"wires":[[]]},{"id":"2d89d075.1a4f18","type":"comment","z":"31581c4b.97a8c4","name":"Google-Daten","info":"https://docs.google.com/forms/d/e/1FAIpQLSe3cOoDqNwfl7ZYAc6vCDZkUSii6ULnF4TSMHgwTC5moEoZXQ/viewform?usp=sf_link\n\nTemperatur\n540525783\n\nHOW TO\nhttps://www.open-electronics.org/how-send-data-from-arduino-to-google-docs-spreadsheet/","x":598.9167022705078,"y":143.00001525878906,"wires":[]},{"id":"d1072750.17fe48","type":"comment","z":"31581c4b.97a8c4","name":"enable um Daten zu senden","info":"","x":760,"y":20,"wires":[]},{"id":"68905bf8.b4e514","type":"mqtt in","z":"88b21650.b7cd4","name":"Bodentemp","topic":"/keller/temp/28ff8c388a1635a","qos":"2","broker":"fa6f670a.8af6c8","x":81.25,"y":1483.75,"wires":[["b1829dfd.115a78","9e67f7bf.f05d88","4e2042ff.ee09d4","d4705314.a9ea28"]]},{"id":"13f1fb5.4ae7a05","type":"mqtt in","z":"88b21650.b7cd4","name":"","topic":"/keller/UV/UV","qos":"0","broker":"fa6f670a.8af6c8","x":121.25,"y":1817.5,"wires":[["434bf4ea.b6223c"]]},{"id":"9dbf0128.d52268","type":"chatbot-conversation","z":"88b21650.b7cd4","name":"","botTelegram":"9ae2fad3.2ef6b","botSlack":"","botFacebook":"","chatId":"173173012","transport":"telegram","messageId":"","contextMessageId":false,"store":"","x":1860,"y":660,"wires":[["db87b352.9e2578"]]},{"id":"47628323.854654","type":"mqtt in","z":"88b21650.b7cd4","name":"","topic":"/keller/UV/mW","qos":"0","broker":"fa6f670a.8af6c8","x":121.25,"y":1857.5,"wires":[["5f3019af.378f3"]]},{"id":"434bf4ea.b6223c","type":"ui_chart","z":"88b21650.b7cd4","name":"","group":"c32b961d.74e278","order":1,"width":0,"height":0,"label":"UV","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":523.25,"y":1821.5,"wires":[[],[]]},{"id":"5f3019af.378f3","type":"ui_chart","z":"88b21650.b7cd4","name":"","group":"c32b961d.74e278","order":2,"width":0,"height":0,"label":"mW","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":523.25,"y":1861.5,"wires":[[],[]]},{"id":"64958946.3b9af8","type":"mqtt in","z":"88b21650.b7cd4","name":"","topic":"/keller/UV/index","qos":"0","broker":"fa6f670a.8af6c8","x":131.25,"y":1897.5,"wires":[["6290b24b.a05c8c"]]},{"id":"6290b24b.a05c8c","type":"ui_text","z":"88b21650.b7cd4","group":"c32b961d.74e278","order":3,"width":0,"height":0,"name":"","label":"UV-Index:","format":"{{msg.payload}}","layout":"row-right","x":533.25,"y":1901.5,"wires":[]},{"id":"9e67f7bf.f05d88","type":"change","z":"88b21650.b7cd4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Bodentemperatur","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":872.5,"y":1485,"wires":[["6017f517.ec9374","99bfad64.ebfc7"]]},{"id":"1fd5b97c.97757f","type":"chatbot-telegram-receive","z":"a3010e25.2107e","bot":"604979ca.5c81","x":95,"y":80,"wires":[["459f1ec0.6940c","480454fc.ee0e4c","4fe0e4ad.39e02c","38a4aaf5.389dae","a6aa3482.f0baf8","f7618d21.14c4c","6ef69881.43eea8","88fc72e8.b0d77","e3480d27.978148","a4e73e02.b91418"]]},{"id":"a1f5418d.e5d72","type":"chatbot-telegram-send","z":"a3010e25.2107e","bot":"c68a9a91.867c5","track":false,"outputs":0,"x":1730,"y":100,"wires":[]},{"id":"459f1ec0.6940c","type":"chatbot-message","z":"a3010e25.2107e","name":"Miau","message":[{"message":"Miau"}],"answer":false,"track":false,"x":930,"y":60,"wires":[["a1f5418d.e5d72"]]},{"id":"ef7c05fa.9b9ef8","type":"comment","z":"a3010e25.2107e","name":"Auto-Reply","info":"","x":940,"y":20,"wires":[]},{"id":"480454fc.ee0e4c","type":"chatbot-command","z":"a3010e25.2107e","name":"","command":"/keller","x":90,"y":420,"wires":[["984bd9b2.eabe38"]]},{"id":"4fe0e4ad.39e02c","type":"chatbot-command","z":"a3010e25.2107e","name":"","command":"/garten","x":100,"y":321.25,"wires":[["c3dfec6d.80fe2","c56b4e12.bf277"]],"outputLabels":["/wz"]},{"id":"8f4466bc.a5e458","type":"function","z":"a3010e25.2107e","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die Bodentemperatur beträgt \" + msg.payload +\" °C.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":320,"wires":[["10e41172.a7aaa7"]]},{"id":"10e41172.a7aaa7","type":"chatbot-conversation","z":"a3010e25.2107e","name":"","botTelegram":"9ae2fad3.2ef6b","botSlack":"","botFacebook":"","chatId":"173173012","transport":"telegram","messageId":"","contextMessageId":false,"store":"","x":1425,"y":260,"wires":[["a1f5418d.e5d72"]]},{"id":"476a2429.f59404","type":"mqtt in","z":"a3010e25.2107e","name":"Bodentemperatur","topic":"/keller/temp/28ff8c388a1635a","qos":"0","broker":"fa6f670a.8af6c8","x":100,"y":1120,"wires":[["6241f403.fe9784"]]},{"id":"b1829dfd.115a78","type":"ui_gauge","z":"88b21650.b7cd4","name":"","group":"a7ad9951.2548b8","order":2,"width":0,"height":0,"gtype":"gage","title":"Bodentemperatur","label":"","format":"{{value}} °C","min":"-10","max":"30","colors":["#3342ff","#0ce600","#ca3838"],"seg1":"10","seg2":"20","x":545.7499389648438,"y":1451.0000610351562,"wires":[]},{"id":"749df417.c3637c","type":"comment","z":"88b21650.b7cd4","name":"UV-Messung","info":"","x":75,"y":1774.4999389648438,"wires":[]},{"id":"c3dfec6d.80fe2","type":"change","z":"a3010e25.2107e","name":"set Payload to flow.Bodentemperatur","rules":[{"t":"set","p":"payload","pt":"msg","to":"Bodentemperatur","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":828.75,"y":322.5,"wires":[["8f4466bc.a5e458"]]},{"id":"4bea2726.bfaaf8","type":"change","z":"a3010e25.2107e","name":"","rules":[{"t":"set","p":"Bodentemperatur","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":445,"y":1120,"wires":[[]]},{"id":"db87b352.9e2578","type":"chatbot-telegram-send","z":"88b21650.b7cd4","bot":"9ae2fad3.2ef6b","track":false,"outputs":0,"x":2098.5715942382812,"y":661.4286499023438,"wires":[]},{"id":"6017f517.ec9374","type":"switch","z":"88b21650.b7cd4","name":"Switch:Temp < 10 °C","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"10","vt":"str"}],"checkall":"false","outputs":1,"x":1120,"y":1480,"wires":[[]]},{"id":"5a1cb420.319064","type":"function","z":"88b21650.b7cd4","name":"Achtung! Es ist kalt draußen","func":"var msg1 = {\"topic\": msg.topic,\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Achtung! Es friert! \" + msg.payload + \" °C\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1600,"y":1560,"wires":[["9dbf0128.d52268"]]},{"id":"b696498c.a57438","type":"comment","z":"a3010e25.2107e","name":"Commands","info":"","x":75,"y":220,"wires":[]},{"id":"6b87df92.fe61e","type":"comment","z":"a3010e25.2107e","name":"Input für Commands","info":"","x":110,"y":1060,"wires":[]},{"id":"7d1ec8ac.48f238","type":"comment","z":"a3010e25.2107e","name":"Textausgabe des Commands","info":"","x":1120,"y":220,"wires":[]},{"id":"5d605dac.1ba854","type":"comment","z":"a3010e25.2107e","name":"Auswahl des Inputs","info":"","x":770,"y":220,"wires":[]},{"id":"b79c8f11.4b1b","type":"mqtt in","z":"a3010e25.2107e","name":"Außen","topic":"/keller/temp/28ffca9721747","qos":"2","broker":"fa6f670a.8af6c8","x":70,"y":1180,"wires":[["6ecdca02.b18d6c"]]},{"id":"f51df3d3.31488","type":"change","z":"a3010e25.2107e","name":"","rules":[{"t":"set","p":"Außen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":415,"y":1180,"wires":[[]]},{"id":"c56b4e12.bf277","type":"change","z":"a3010e25.2107e","name":"set Payload to flow.Außentemperatur","rules":[{"t":"set","p":"payload","pt":"msg","to":"Außen","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":360,"wires":[["f6a431ac.7596"]]},{"id":"f6a431ac.7596","type":"function","z":"a3010e25.2107e","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die Außentemperatur beträgt \" + msg.payload +\" °C.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1121.25,"y":357.5,"wires":[["10e41172.a7aaa7"]]},{"id":"38a4aaf5.389dae","type":"chatbot-command","z":"a3010e25.2107e","name":"","command":"/wz","x":90,"y":480,"wires":[["d2808091.61f638","ffef316c.31b208"]]},{"id":"984bd9b2.eabe38","type":"change","z":"a3010e25.2107e","name":"set Payload to flow.Keller","rules":[{"t":"set","p":"payload","pt":"msg","to":"Keller","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":420,"wires":[["15eeb52d.a2efd3"]]},{"id":"15eeb52d.a2efd3","type":"function","z":"a3010e25.2107e","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die Temperatur im Keller beträgt \" + msg.payload +\" °C.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":420,"wires":[["10e41172.a7aaa7"]]},{"id":"d51b68a8.553ae","type":"mqtt in","z":"a3010e25.2107e","name":"Keller","topic":"/keller/temp/28ff84ed6117326","qos":"2","broker":"fa6f670a.8af6c8","x":70,"y":1240,"wires":[["d53d3e6e.d6c768"]]},{"id":"5ac6ac71.20f83c","type":"change","z":"a3010e25.2107e","name":"","rules":[{"t":"set","p":"Keller","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":415,"y":1240,"wires":[[]]},{"id":"d2808091.61f638","type":"change","z":"a3010e25.2107e","name":"set Payload to flow.Wohnzimmer","rules":[{"t":"set","p":"payload","pt":"msg","to":"Wohnzimmer/Temp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":480,"wires":[["bf4b15ad.bcda1"]]},{"id":"bf4b15ad.bcda1","type":"function","z":"a3010e25.2107e","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die Temperatur im Wohnzimmer beträgt \" + msg.payload +\" °C.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":480,"wires":[["10e41172.a7aaa7"]]},{"id":"a6aa3482.f0baf8","type":"chatbot-command","z":"a3010e25.2107e","name":"","command":"/status","x":90,"y":260,"wires":[["227df520.0c39ea","93388cb0.fc0e48","5ff549.2de322b8","15078932.0590cf","bb2301f4.46a4a8","fc9b5ad3.645598","3bd05926.d5973e","c8d2c94f.ce777","e6cfba47.0012c8","c8289f69.96aac8","be31b432.edb58"]]},{"id":"d53d3e6e.d6c768","type":"change","z":"a3010e25.2107e","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":245,"y":1240,"wires":[["5ac6ac71.20f83c"]]},{"id":"6ecdca02.b18d6c","type":"change","z":"a3010e25.2107e","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":245,"y":1180,"wires":[["f51df3d3.31488"]]},{"id":"6241f403.fe9784","type":"change","z":"a3010e25.2107e","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":245,"y":1120,"wires":[["4bea2726.bfaaf8"]]},{"id":"f2403187.62ebc","type":"mqtt in","z":"88b21650.b7cd4","name":"Außentemp","topic":"/keller/temp/28ffca9721747","qos":"2","broker":"fa6f670a.8af6c8","x":85.75,"y":1626.5000610351562,"wires":[["8f882cf0.ca1b48","98d7c52.dad7eb8","99bfc4dd.e1e6b8","359f8823.210e28","d86dacbd.d81c3"]]},{"id":"8f882cf0.ca1b48","type":"change","z":"88b21650.b7cd4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Außentemperatur","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":872.5,"y":1623.75,"wires":[["99bfad64.ebfc7"]]},{"id":"e13eb8e3.52a9f","type":"mqtt in","z":"88b21650.b7cd4","name":"Wohnzimmer/Temp","topic":"/wz/temp","qos":"0","broker":"fa6f670a.8af6c8","x":110,"y":660,"wires":[["99e591de.212be","8ab33092.d92eb8","70c4ec9b.cf6804"]]},{"id":"99e591de.212be","type":"ui_chart","z":"88b21650.b7cd4","name":"","group":"76c2741a.cf162c","order":1,"width":0,"height":0,"label":"Temperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#ff9595","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":525,"y":647.5,"wires":[[],[]]},{"id":"8ab33092.d92eb8","type":"ui_gauge","z":"88b21650.b7cd4","name":"","group":"76c2741a.cf162c","order":4,"width":"3","height":"3","gtype":"gage","title":"Temperatur","label":"","format":"{{value}} °C","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"22","seg2":"25","x":525,"y":687.5,"wires":[]},{"id":"5b65717d.afe2d","type":"chatbot-message","z":"a3010e25.2107e","name":"schnurrr","message":[{"message":"*schnurrrrr*"}],"answer":false,"track":false,"x":940,"y":120,"wires":[["a1f5418d.e5d72"]]},{"id":"f7618d21.14c4c","type":"chatbot-command","z":"a3010e25.2107e","name":"","command":"/streicheln","x":430,"y":120,"wires":[["5b65717d.afe2d"]]},{"id":"dc5e53e6.8643e","type":"mqtt in","z":"88b21650.b7cd4","name":"Wohnzimmer/Humid","topic":"/wz/humid","qos":"0","broker":"fa6f670a.8af6c8","x":110,"y":700,"wires":[["a52b988a.e8be08","b3f225a1.b154","107522b.904c75d","92e531f8.6016c"]]},{"id":"92e531f8.6016c","type":"ui_chart","z":"88b21650.b7cd4","name":"","group":"76c2741a.cf162c","order":2,"width":0,"height":0,"label":"relative Luftfeuchte","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#aec7e8","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":545,"y":727.5,"wires":[[],[]]},{"id":"a52b988a.e8be08","type":"ui_gauge","z":"88b21650.b7cd4","name":"","group":"76c2741a.cf162c","order":5,"width":"3","height":"3","gtype":"gage","title":"rel. Luftfeuchte","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"65","seg2":"75","x":535,"y":767.5,"wires":[]},{"id":"267c8f58.5f925","type":"mqtt in","z":"88b21650.b7cd4","name":"","topic":"/sz/temp","qos":"2","broker":"fa6f670a.8af6c8","x":90.41654459635413,"y":980.9722832573784,"wires":[["f6c515e9.1df8c","f79e93ce.37d68","82e333b8.acfdc"]]},{"id":"4a05119a.142c6","type":"mqtt in","z":"88b21650.b7cd4","name":"","topic":"/sz/humid","qos":"2","broker":"fa6f670a.8af6c8","x":89.30545043945312,"y":1018.7500610351562,"wires":[["fe98adfa.524ed8","65ac8d09.292904","8269b69f.bb1d88","1cfa765d.53a092"]]},{"id":"f6c515e9.1df8c","type":"ui_chart","z":"88b21650.b7cd4","name":"","group":"517c4aab.63262c","order":1,"width":0,"height":0,"label":"Temperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#ff9595","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":530,"y":940,"wires":[[],[]]},{"id":"f79e93ce.37d68","type":"ui_gauge","z":"88b21650.b7cd4","name":"","group":"517c4aab.63262c","order":4,"width":"3","height":"3","gtype":"gage","title":"Temperatur","label":"","format":"{{value}} °C","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"22","seg2":"25","x":530,"y":980,"wires":[]},{"id":"1cfa765d.53a092","type":"ui_chart","z":"88b21650.b7cd4","name":"","group":"517c4aab.63262c","order":2,"width":0,"height":0,"label":"relative Luftfeuchte","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#aec7e8","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":550,"y":1020,"wires":[[],[]]},{"id":"fe98adfa.524ed8","type":"ui_gauge","z":"88b21650.b7cd4","name":"","group":"517c4aab.63262c","order":5,"width":"3","height":"3","gtype":"gage","title":"rel. Luftfeuchte","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"65","seg2":"75","x":540,"y":1060,"wires":[]},{"id":"af6f7be4.03a4a","type":"mqtt in","z":"a3010e25.2107e","name":"Wohnzimmer/Temp","topic":"/wz/temp","qos":"0","broker":"fa6f670a.8af6c8","x":110,"y":1320,"wires":[["5e8490f0.fa3a4"]]},{"id":"b127ab02.d97cc8","type":"mqtt in","z":"a3010e25.2107e","name":"Wohnzimmer/Humid","topic":"/wz/humid","qos":"0","broker":"fa6f670a.8af6c8","x":110,"y":1360,"wires":[["66d56803.d3928"]]},{"id":"70d60413.9dceac","type":"mqtt in","z":"a3010e25.2107e","name":"Küche/Temp","topic":"/kueche/temp","qos":"2","broker":"fa6f670a.8af6c8","x":90,"y":1420,"wires":[["49e216dd.80e5a"]]},{"id":"3e5cf492.ffbdf4","type":"mqtt in","z":"a3010e25.2107e","name":"Bad/Temp","topic":"/bad/temp","qos":"0","broker":"fa6f670a.8af6c8","x":80,"y":1520,"wires":[["a77bc28f.b17db"]]},{"id":"c497f85f.1a7dc8","type":"mqtt in","z":"a3010e25.2107e","name":"Bad/Humid","topic":"/bad/humid","qos":"0","broker":"fa6f670a.8af6c8","x":80,"y":1560,"wires":[["52e5ac03.102d24"]]},{"id":"4d4baef8.24459","type":"mqtt in","z":"a3010e25.2107e","name":"Schlafzimmer/Temp","topic":"/sz/temp","qos":"2","broker":"fa6f670a.8af6c8","x":110,"y":1640,"wires":[["3e7549bf.b132de"]]},{"id":"38952257.f25b6e","type":"mqtt in","z":"a3010e25.2107e","name":"Schlafzimmer/Humid","topic":"/sz/humid","qos":"2","broker":"fa6f670a.8af6c8","x":108.88890584309897,"y":1677.7777777777778,"wires":[["cba4f23b.7655e"]]},{"id":"5e8490f0.fa3a4","type":"change","z":"a3010e25.2107e","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1320,"wires":[["3bbcc129.906c36"]]},{"id":"3bbcc129.906c36","type":"change","z":"a3010e25.2107e","name":"","rules":[{"t":"set","p":"Wohnzimmer/Temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1320,"wires":[[]]},{"id":"66d56803.d3928","type":"change","z":"a3010e25.2107e","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1360,"wires":[["bc81e320.ff0c6"]]},{"id":"bc81e320.ff0c6","type":"change","z":"a3010e25.2107e","name":"","rules":[{"t":"set","p":"Wohnzimmer/Humid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1360,"wires":[[]]},{"id":"49e216dd.80e5a","type":"change","z":"a3010e25.2107e","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1420,"wires":[["30e7750d.4fdd6a"]]},{"id":"30e7750d.4fdd6a","type":"change","z":"a3010e25.2107e","name":"","rules":[{"t":"set","p":"Küche/Temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1420,"wires":[[]]},{"id":"571f3edc.549b","type":"change","z":"a3010e25.2107e","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1460,"wires":[["ae6767a6.2e1f9"]]},{"id":"ae6767a6.2e1f9","type":"change","z":"a3010e25.2107e","name":"","rules":[{"t":"set","p":"Küche/Humid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1460,"wires":[[]]},{"id":"a77bc28f.b17db","type":"change","z":"a3010e25.2107e","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1520,"wires":[["aff67dee.4fdb1"]]},{"id":"aff67dee.4fdb1","type":"change","z":"a3010e25.2107e","name":"","rules":[{"t":"set","p":"Bad/Temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1520,"wires":[[]]},{"id":"52e5ac03.102d24","type":"change","z":"a3010e25.2107e","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1560,"wires":[["8c0a1b0e.b2e388"]]},{"id":"8c0a1b0e.b2e388","type":"change","z":"a3010e25.2107e","name":"","rules":[{"t":"set","p":"Bad/Humid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1560,"wires":[[]]},{"id":"3e7549bf.b132de","type":"change","z":"a3010e25.2107e","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":283.33333333333337,"y":1637.7777777777778,"wires":[["2b2841ae.5c0d96"]]},{"id":"2b2841ae.5c0d96","type":"change","z":"a3010e25.2107e","name":"","rules":[{"t":"set","p":"Schlafzimmer/Temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":493.33333333333337,"y":1637.7777777777778,"wires":[[]]},{"id":"cba4f23b.7655e","type":"change","z":"a3010e25.2107e","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":283.33333333333337,"y":1677.7777777777778,"wires":[["58727e56.cd8718"]]},{"id":"58727e56.cd8718","type":"change","z":"a3010e25.2107e","name":"","rules":[{"t":"set","p":"Schlafzimmer/Humid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":493.33333333333337,"y":1677.7777777777778,"wires":[[]]},{"id":"6ef69881.43eea8","type":"chatbot-command","z":"a3010e25.2107e","name":"","command":"/kueche","x":100,"y":580,"wires":[["1d354c83.d8db2b","2b9bf8eb.403bc"]]},{"id":"4d7fab1e.c3b2ec","type":"function","z":"a3010e25.2107e","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die Temperatur in der Küche beträgt \" + msg.payload +\" °C.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":580,"wires":[["10e41172.a7aaa7"]]},{"id":"1d354c83.d8db2b","type":"change","z":"a3010e25.2107e","name":"set Payload to flow.Küche","rules":[{"t":"set","p":"payload","pt":"msg","to":"Küche/Temp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":580,"wires":[["4d7fab1e.c3b2ec"]]},{"id":"ffef316c.31b208","type":"change","z":"a3010e25.2107e","name":"set Payload to flow.Wohnzimmer","rules":[{"t":"set","p":"payload","pt":"msg","to":"Wohnzimmer/Humid","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":520,"wires":[["a1f045df.c0c448"]]},{"id":"a1f045df.c0c448","type":"function","z":"a3010e25.2107e","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die relative Luftfeuchtigkeit im Wohnzimmer beträgt \" + msg.payload +\" %.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":520,"wires":[["10e41172.a7aaa7"]]},{"id":"2b9bf8eb.403bc","type":"change","z":"a3010e25.2107e","name":"set Payload to flow.Küche","rules":[{"t":"set","p":"payload","pt":"msg","to":"Küche/Humid","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":620,"wires":[["3b7f37a5.c9578"]]},{"id":"3b7f37a5.c9578","type":"function","z":"a3010e25.2107e","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die relative Luftfeuchtigkeit in der Küche beträgt \" + msg.payload +\" %.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":620,"wires":[["10e41172.a7aaa7"]]},{"id":"88fc72e8.b0d77","type":"chatbot-command","z":"a3010e25.2107e","name":"","command":"/bad","x":90,"y":680,"wires":[["5ca96955.2eb788","d6dbb2e3.c134e"]]},{"id":"6a263388.2f4204","type":"function","z":"a3010e25.2107e","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die Temperatur im Bad beträgt \" + msg.payload +\" °C.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":680,"wires":[["10e41172.a7aaa7"]]},{"id":"5ca96955.2eb788","type":"change","z":"a3010e25.2107e","name":"set Payload to flow.Bad","rules":[{"t":"set","p":"payload","pt":"msg","to":"Bad/Temp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":680,"wires":[["6a263388.2f4204"]]},{"id":"d6dbb2e3.c134e","type":"change","z":"a3010e25.2107e","name":"set Payload to flow.Bad","rules":[{"t":"set","p":"payload","pt":"msg","to":"Bad/Humid","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":720,"wires":[["4d56a057.d579d"]]},{"id":"4d56a057.d579d","type":"function","z":"a3010e25.2107e","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die relative Luftfeuchtigkeit im Bad beträgt \" + msg.payload +\" %.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":720,"wires":[["10e41172.a7aaa7"]]},{"id":"e3480d27.978148","type":"chatbot-command","z":"a3010e25.2107e","name":"","command":"/sz","x":90,"y":780,"wires":[["a6f5ce3d.46bd88","8dacea01.e9daf"]]},{"id":"5fd5e47b.85b3dc","type":"function","z":"a3010e25.2107e","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die Temperatur im Schlafzimmer beträgt \" + msg.payload +\" °C.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":780,"wires":[["10e41172.a7aaa7"]]},{"id":"a6f5ce3d.46bd88","type":"change","z":"a3010e25.2107e","name":"set Payload to flow.Schlafzimmer","rules":[{"t":"set","p":"payload","pt":"msg","to":"Schlafzimmer/Temp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":780,"wires":[["5fd5e47b.85b3dc"]]},{"id":"8dacea01.e9daf","type":"change","z":"a3010e25.2107e","name":"set Payload to flow.Schlafzimmer","rules":[{"t":"set","p":"payload","pt":"msg","to":"Schlafzimmer/Humid","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":820,"wires":[["c1440540.dcd9a"]]},{"id":"c1440540.dcd9a","type":"function","z":"a3010e25.2107e","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die relative Luftfeuchtigkeit im Schlafzimmer beträgt \" + msg.payload +\" %.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":820,"wires":[["10e41172.a7aaa7"]]},{"id":"334891b4.b947fe","type":"mqtt in","z":"a3010e25.2107e","name":"Küche/Humid","topic":"/kueche/humid","qos":"2","broker":"fa6f670a.8af6c8","x":90,"y":1460,"wires":[["571f3edc.549b"]]},{"id":"5374808c.b30e48","type":"ui_text","z":"88b21650.b7cd4","group":"517c4aab.63262c","order":6,"width":"6","height":"2","name":"","label":"Optimal: <br> T = 16-18 °C <br>  rel. Feuchte = 40-60 % ","format":"","layout":"row-spread","x":230,"y":900,"wires":[]},{"id":"f9df660d.163f58","type":"ui_text","z":"88b21650.b7cd4","group":"76c2741a.cf162c","order":6,"width":"6","height":"2","name":"","label":"Optimal: <br> T = 20 °C <br>  rel. Feuchte = 40-60 % ","format":"","layout":"row-spread","x":223.75,"y":605,"wires":[]},{"id":"61ef73a3.70affc","type":"mqtt in","z":"88b21650.b7cd4","name":"Keller","topic":"/keller/temp/28ff84ed6117326","qos":"2","broker":"fa6f670a.8af6c8","x":76.24981689453125,"y":1283.75,"wires":[["34f3f2fd.b5f736","5e558ac9.9c6fa4"]]},{"id":"5e558ac9.9c6fa4","type":"ui_chart","z":"88b21650.b7cd4","name":"","group":"42f097d1.786b78","order":1,"width":0,"height":0,"label":"Keller","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":507.49981689453125,"y":1281.25,"wires":[[],[]]},{"id":"e84850c0.b46d18","type":"ui_text","z":"88b21650.b7cd4","group":"42f097d1.786b78","order":0,"width":"6","height":"2","name":"","label":"Optimal: <br> T = 10-15 °C <br>  rel. Feuchte = 50-65 % ","format":"","layout":"row-spread","x":236.2498779296875,"y":1222.5,"wires":[]},{"id":"ecdf3fd7.4472c8","type":"comment","z":"88b21650.b7cd4","name":"Garten","info":"","x":55,"y":1438.75,"wires":[]},{"id":"640c04de.a164b4","type":"comment","z":"88b21650.b7cd4","name":"Wohnzimmer","info":"","x":70,"y":570,"wires":[]},{"id":"8269b69f.bb1d88","type":"change","z":"88b21650.b7cd4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Schlafzimmer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":980,"wires":[["3886cc94.748e3c"]]},{"id":"ab5f4310.926da","type":"switch","z":"88b21650.b7cd4","name":"Humid > 72 %","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"72","vt":"str"}],"checkall":"false","outputs":1,"x":1218.7501220703125,"y":977.5,"wires":[["f87f7ba6.0da418"]]},{"id":"7a9e367a.bff84","type":"function","z":"88b21650.b7cd4","name":"Nachricht: Humid","func":"var msg1 = {\"topic\": msg.topic,\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Achtung! Die Luftfeuchte im \"+ msg.topic + \" beträgt momentan \" + msg.payload + \" %.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1528.7501220703125,"y":976.25,"wires":[["9dbf0128.d52268"]]},{"id":"3886cc94.748e3c","type":"delay","z":"88b21650.b7cd4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1038.7501220703125,"y":978.75,"wires":[["ab5f4310.926da"]]},{"id":"107522b.904c75d","type":"change","z":"88b21650.b7cd4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Wohnzimmer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":680,"wires":[["bcc8eb6e.48b04"]]},{"id":"80359fa7.80e9a8","type":"switch","z":"88b21650.b7cd4","name":"Humid > 70 %","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"70","vt":"str"}],"checkall":"false","outputs":1,"x":1215.0001220703125,"y":680,"wires":[["10a273de.b9ef6c"]]},{"id":"696d9489.28855c","type":"function","z":"88b21650.b7cd4","name":"Nachricht: Humid","func":"var msg1 = {\"topic\": msg.topic,\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Achtung! Die Luftfeuchte im \"+ msg.topic + \" beträgt momentan \" + msg.payload + \" %.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1530,"y":680,"wires":[["9dbf0128.d52268"]]},{"id":"bcc8eb6e.48b04","type":"delay","z":"88b21650.b7cd4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1038.7501220703125,"y":680,"wires":[["80359fa7.80e9a8"]]},{"id":"8b81073a.054bd","type":"comment","z":"88b21650.b7cd4","name":"Schlafzimmer","info":"","x":75,"y":868.75,"wires":[]},{"id":"85c6acb2.2d2e7","type":"comment","z":"88b21650.b7cd4","name":"Keller","info":"","x":61.25,"y":1185,"wires":[]},{"id":"66ffe45e.a60024","type":"mqtt in","z":"88b21650.b7cd4","name":"","topic":"/kueche/temp","qos":"2","broker":"fa6f670a.8af6c8","x":110,"y":100,"wires":[["6e9d05c2.30e7ec","9cee22f6.bffd78","c8852712.4b2ef8"]]},{"id":"bd1298e.d2918e8","type":"mqtt in","z":"88b21650.b7cd4","name":"","topic":"/kueche/humid","qos":"2","broker":"fa6f670a.8af6c8","x":122.5,"y":161.25,"wires":[["e635a862.45d6","4f38774f.7bff8","1b39c0f4.54fd87","42f6612.531e82"]]},{"id":"d59a945b.1e15a8","type":"mqtt in","z":"88b21650.b7cd4","name":"","topic":"/bad/temp","qos":"0","broker":"fa6f670a.8af6c8","x":96.24993896484375,"y":392.5,"wires":[["ea8cafcd.34397","b2fc14a4.c9cc1","d7a71e3f.ce4e9"]]},{"id":"752a9ee6.4656b","type":"mqtt in","z":"88b21650.b7cd4","name":"","topic":"/bad/humid","qos":"0","broker":"fa6f670a.8af6c8","x":96.24993896484375,"y":432.5,"wires":[["5c198f9d.5c48f","5ab3efa3.d9f63","398777c7.b53468","9d92b323.57e5c"]]},{"id":"6e9d05c2.30e7ec","type":"ui_chart","z":"88b21650.b7cd4","name":"","group":"8f021d0b.b6468","order":1,"width":0,"height":0,"label":"Temperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#ff9595","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":530,"y":80,"wires":[[],[]]},{"id":"9cee22f6.bffd78","type":"ui_gauge","z":"88b21650.b7cd4","name":"","group":"8f021d0b.b6468","order":4,"width":"3","height":"3","gtype":"gage","title":"Temperatur","label":"","format":"{{value}} °C","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"22","seg2":"25","x":531.9443969726562,"y":123.1944580078125,"wires":[]},{"id":"42f6612.531e82","type":"ui_chart","z":"88b21650.b7cd4","name":"","group":"8f021d0b.b6468","order":2,"width":0,"height":0,"label":"relative Luftfeuchte","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#aec7e8","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":551.9443969726562,"y":163.1944580078125,"wires":[[],[]]},{"id":"e635a862.45d6","type":"ui_gauge","z":"88b21650.b7cd4","name":"","group":"8f021d0b.b6468","order":5,"width":"3","height":"3","gtype":"gage","title":"rel. Luftfeuchte","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"65","seg2":"75","x":541.9443969726562,"y":203.1944580078125,"wires":[]},{"id":"ea8cafcd.34397","type":"ui_chart","z":"88b21650.b7cd4","name":"","group":"d8adad0d.437698","order":1,"width":0,"height":0,"label":"Temperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#ff9595","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":530,"y":380,"wires":[[],[]]},{"id":"b2fc14a4.c9cc1","type":"ui_gauge","z":"88b21650.b7cd4","name":"","group":"d8adad0d.437698","order":4,"width":"3","height":"3","gtype":"gage","title":"Temperatur","label":"","format":"{{value}} °C","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"24","seg2":"26","x":530,"y":420,"wires":[]},{"id":"9d92b323.57e5c","type":"ui_chart","z":"88b21650.b7cd4","name":"","group":"d8adad0d.437698","order":2,"width":0,"height":0,"label":"relative Luftfeuchte","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#aec7e8","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":550,"y":460,"wires":[[],[]]},{"id":"5c198f9d.5c48f","type":"ui_gauge","z":"88b21650.b7cd4","name":"","group":"d8adad0d.437698","order":5,"width":"3","height":"3","gtype":"gage","title":"rel. Luftfeuchte","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"80","x":540,"y":500,"wires":[]},{"id":"eb81fa72.a25048","type":"ui_text","z":"88b21650.b7cd4","group":"8f021d0b.b6468","order":6,"width":"6","height":"2","name":"","label":"Optimal: <br> T = 18 °C <br>  rel. Feuchte = 40-60 % ","format":"","layout":"row-spread","x":232.49993896484375,"y":55,"wires":[]},{"id":"5cb57d0e.638dfc","type":"ui_text","z":"88b21650.b7cd4","group":"d8adad0d.437698","order":6,"width":"6","height":"2","name":"","label":"Optimal: <br> T = 23 °C <br>  rel. Feuchte = 50-70 % ","format":"","layout":"row-spread","x":234.99993896484375,"y":332.5,"wires":[]},{"id":"398777c7.b53468","type":"change","z":"88b21650.b7cd4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Bad","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":400,"wires":[["33cdc51.3615cba"]]},{"id":"658dc731.446758","type":"switch","z":"88b21650.b7cd4","name":"Humid > 80 %","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"80","vt":"str"}],"checkall":"false","outputs":1,"x":1220.0001220703125,"y":396.25,"wires":[["abeb7f12.b8b43"]]},{"id":"25595b1.a782524","type":"function","z":"88b21650.b7cd4","name":"Nachricht: Humid","func":"var msg1 = {\"topic\": msg.topic,\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Achtung! Die Luftfeuchte im \"+ msg.topic + \" beträgt momentan \" + msg.payload + \" %.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1530,"y":397.5,"wires":[["9dbf0128.d52268"]]},{"id":"33cdc51.3615cba","type":"delay","z":"88b21650.b7cd4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1041.2501220703125,"y":398.75,"wires":[["658dc731.446758"]]},{"id":"1b39c0f4.54fd87","type":"change","z":"88b21650.b7cd4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Küche","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":120,"wires":[["c9fed9d.c096d28"]]},{"id":"b1902142.7ebed8","type":"switch","z":"88b21650.b7cd4","name":"Humid > 70 %","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"70","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1220.0001220703125,"y":118.75,"wires":[["38b0dd3c.ba7e9a"]]},{"id":"1c8437a8.796f8","type":"function","z":"88b21650.b7cd4","name":"Nachricht: Humid","func":"var msg1 = {\"topic\": msg.topic,\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Achtung! Die Luftfeuchte in der \"+ msg.topic + \" beträgt momentan \" + msg.payload + \" %.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1530,"y":120,"wires":[["9dbf0128.d52268"]]},{"id":"c9fed9d.c096d28","type":"delay","z":"88b21650.b7cd4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1040.0001220703125,"y":120,"wires":[["b1902142.7ebed8"]]},{"id":"26dfb02a.6a88f8","type":"comment","z":"88b21650.b7cd4","name":"Küche","info":"","x":60.00006103515625,"y":20,"wires":[]},{"id":"57418841.09f17","type":"comment","z":"88b21650.b7cd4","name":"Bad","info":"","x":60.00006103515625,"y":298.75,"wires":[]},{"id":"44af0d14.41d87c","type":"comment","z":"88b21650.b7cd4","name":"Alarm","info":"","x":850,"y":20,"wires":[]},{"id":"4f38774f.7bff8","type":"smooth","z":"88b21650.b7cd4","name":"","action":"max","count":"1000","round":"2","mult":"single","x":280,"y":242.5,"wires":[["e3d61fb0.463bb"]]},{"id":"e3d61fb0.463bb","type":"ui_text","z":"88b21650.b7cd4","group":"8f021d0b.b6468","order":3,"width":0,"height":0,"name":"","label":"max. gemessene Luftfeuchte","format":"{{msg.payload}} %","layout":"row-left","x":581.9443969726562,"y":243.1944580078125,"wires":[]},{"id":"5ab3efa3.d9f63","type":"smooth","z":"88b21650.b7cd4","name":"","action":"max","count":"1000","round":"2","mult":"single","x":260,"y":500,"wires":[["60faf91e.67fda8"]]},{"id":"60faf91e.67fda8","type":"ui_text","z":"88b21650.b7cd4","group":"d8adad0d.437698","order":3,"width":0,"height":0,"name":"","label":"max. gemessene Luftfeuchte","format":"{{msg.payload}} %","layout":"row-left","x":580,"y":540,"wires":[]},{"id":"b3f225a1.b154","type":"smooth","z":"88b21650.b7cd4","name":"","action":"max","count":"1000","round":"2","mult":"single","x":235,"y":787.5,"wires":[["e3f5d507.72f8a"]]},{"id":"e3f5d507.72f8a","type":"ui_text","z":"88b21650.b7cd4","group":"76c2741a.cf162c","order":3,"width":0,"height":0,"name":"","label":"max. gemessene Luftfeuchte","format":"{{msg.payload}} %","layout":"row-left","x":575,"y":807.5,"wires":[]},{"id":"65ac8d09.292904","type":"smooth","z":"88b21650.b7cd4","name":"max","action":"max","count":"1000","round":"2","mult":"single","x":230,"y":1060,"wires":[["4252d24.b68022c"]]},{"id":"4252d24.b68022c","type":"ui_text","z":"88b21650.b7cd4","group":"517c4aab.63262c","order":3,"width":0,"height":0,"name":"","label":"max. gemessene Luftfeuchte","format":"{{msg.payload}} %","layout":"row-left","x":580,"y":1100,"wires":[]},{"id":"227df520.0c39ea","type":"delay","z":"a3010e25.2107e","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":180,"wires":[["c3dfec6d.80fe2"]]},{"id":"93388cb0.fc0e48","type":"delay","z":"a3010e25.2107e","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":200,"wires":[["c56b4e12.bf277"]]},{"id":"5ff549.2de322b8","type":"delay","z":"a3010e25.2107e","name":"","pauseType":"delay","timeout":"150","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":220,"wires":[["984bd9b2.eabe38"]]},{"id":"15078932.0590cf","type":"delay","z":"a3010e25.2107e","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":240,"wires":[["d2808091.61f638"]]},{"id":"bb2301f4.46a4a8","type":"delay","z":"a3010e25.2107e","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":260,"wires":[["ffef316c.31b208"]]},{"id":"fc9b5ad3.645598","type":"delay","z":"a3010e25.2107e","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":280,"wires":[["1d354c83.d8db2b"]]},{"id":"3bd05926.d5973e","type":"delay","z":"a3010e25.2107e","name":"","pauseType":"delay","timeout":"350","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":300,"wires":[["2b9bf8eb.403bc"]]},{"id":"c8d2c94f.ce777","type":"delay","z":"a3010e25.2107e","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":320,"wires":[["5ca96955.2eb788"]]},{"id":"e6cfba47.0012c8","type":"delay","z":"a3010e25.2107e","name":"","pauseType":"delay","timeout":"450","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":340,"wires":[["d6dbb2e3.c134e"]]},{"id":"c8289f69.96aac8","type":"delay","z":"a3010e25.2107e","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":360,"wires":[["a6f5ce3d.46bd88"]]},{"id":"be31b432.edb58","type":"delay","z":"a3010e25.2107e","name":"","pauseType":"delay","timeout":"550","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":380,"wires":[["8dacea01.e9daf"]]},{"id":"c8852712.4b2ef8","type":"change","z":"88b21650.b7cd4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Küche","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":80,"wires":[["acaa380a.a15828"]]},{"id":"6555d2dc.22f8ec","type":"switch","z":"88b21650.b7cd4","name":"Temp < 17 °C","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"17","vt":"str"}],"checkall":"false","outputs":1,"x":1220.0001220703125,"y":78.75,"wires":[["e1dcde66.73f9b8"]]},{"id":"169517db.560bd8","type":"function","z":"88b21650.b7cd4","name":"Nachricht: Temp","func":"var msg1 = {\"topic\": msg.topic,\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Achtung! Die Temperatur in der \"+ msg.topic + \" beträgt momentan \" + msg.payload + \" °C.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1520,"y":80,"wires":[["9dbf0128.d52268"]]},{"id":"acaa380a.a15828","type":"delay","z":"88b21650.b7cd4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1040.0001220703125,"y":80,"wires":[["6555d2dc.22f8ec"]]},{"id":"e1dcde66.73f9b8","type":"change","z":"88b21650.b7cd4","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":80,"wires":[["169517db.560bd8"]]},{"id":"38b0dd3c.ba7e9a","type":"change","z":"88b21650.b7cd4","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1369.9999389648438,"y":121.25,"wires":[["1c8437a8.796f8"]]},{"id":"abeb7f12.b8b43","type":"change","z":"88b21650.b7cd4","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1371.25,"y":397.5,"wires":[["25595b1.a782524"]]},{"id":"10a273de.b9ef6c","type":"change","z":"88b21650.b7cd4","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":680,"wires":[["696d9489.28855c"]]},{"id":"f87f7ba6.0da418","type":"change","z":"88b21650.b7cd4","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370.0001220703125,"y":976.25,"wires":[["7a9e367a.bff84"]]},{"id":"d7a71e3f.ce4e9","type":"change","z":"88b21650.b7cd4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Bad","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":360,"wires":[["734f6e91.8f9248"]]},{"id":"aa1a459c.7e2338","type":"switch","z":"88b21650.b7cd4","name":"Temp < 17 °C","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"17","vt":"str"}],"checkall":"false","outputs":1,"x":1220.0001220703125,"y":358.75,"wires":[["ad396c36.e6fb48"]]},{"id":"f32e419d.102c18","type":"function","z":"88b21650.b7cd4","name":"Nachricht: Temp","func":"var msg1 = {\"topic\": msg.topic,\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Achtung! Die Temperatur im \"+ msg.topic + \" beträgt momentan \" + msg.payload + \" °C.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1520,"y":360,"wires":[["9dbf0128.d52268"]]},{"id":"734f6e91.8f9248","type":"delay","z":"88b21650.b7cd4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1040.0001220703125,"y":360,"wires":[["aa1a459c.7e2338"]]},{"id":"ad396c36.e6fb48","type":"change","z":"88b21650.b7cd4","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":360,"wires":[["f32e419d.102c18"]]},{"id":"70c4ec9b.cf6804","type":"change","z":"88b21650.b7cd4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Wohnzimmer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":640,"wires":[["8a27414.0e27a4"]]},{"id":"c75acb2d.02f09","type":"switch","z":"88b21650.b7cd4","name":"Temp < 17 °C","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"17","vt":"str"}],"checkall":"false","outputs":1,"x":1213.7501220703125,"y":638.75,"wires":[["86ac565a.8369f"]]},{"id":"9d9105c8.ea7438","type":"function","z":"88b21650.b7cd4","name":"Nachricht: Temp","func":"var msg1 = {\"topic\": msg.topic,\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Achtung! Die Temperatur im \"+ msg.topic + \" beträgt momentan \" + msg.payload + \" °C.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1520,"y":640,"wires":[["9dbf0128.d52268"]]},{"id":"8a27414.0e27a4","type":"delay","z":"88b21650.b7cd4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1038.7501220703125,"y":640,"wires":[["c75acb2d.02f09"]]},{"id":"86ac565a.8369f","type":"change","z":"88b21650.b7cd4","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":640,"wires":[["9d9105c8.ea7438"]]},{"id":"82e333b8.acfdc","type":"change","z":"88b21650.b7cd4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Schlafzimmer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":940,"wires":[["2bd48ca.df3c274"]]},{"id":"cbdd3cdc.5037b8","type":"switch","z":"88b21650.b7cd4","name":"Temp < 17°C","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"17","vt":"str"}],"checkall":"false","outputs":1,"x":1210.0001220703125,"y":938.75,"wires":[["b525359b.b451d8"]]},{"id":"62ec55aa.3e61c4","type":"function","z":"88b21650.b7cd4","name":"Nachricht: Temp","func":"var msg1 = {\"topic\": msg.topic,\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Achtung! Die Temperatur im \"+ msg.topic + \" beträgt momentan \" + msg.payload + \" °C.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1520,"y":940,"wires":[["9dbf0128.d52268"]]},{"id":"2bd48ca.df3c274","type":"delay","z":"88b21650.b7cd4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1040.0001220703125,"y":940,"wires":[["cbdd3cdc.5037b8"]]},{"id":"b525359b.b451d8","type":"change","z":"88b21650.b7cd4","name":". to ,","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":940,"wires":[["62ec55aa.3e61c4"]]},{"id":"34f3f2fd.b5f736","type":"smooth","z":"88b21650.b7cd4","name":"min","action":"min","count":"1000","round":"2","mult":"single","x":295,"y":1323.75,"wires":[["2d997288.aad006"]]},{"id":"2d997288.aad006","type":"ui_text","z":"88b21650.b7cd4","group":"42f097d1.786b78","order":0,"width":0,"height":0,"name":"","label":"tiefste Temperatur: ","format":"{{msg.payload}} °C","layout":"row-left","x":548.1943969726562,"y":1323.1944580078125,"wires":[]},{"id":"73e74be2.a7697c","type":"ui_chart","z":"88b21650.b7cd4","name":"","group":"a7ad9951.2548b8","order":1,"width":"0","height":"0","label":"Boden- und Außentemperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#aec7e8","#27b62b","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":581.25,"y":1553.75,"wires":[[],[]]},{"id":"98d7c52.dad7eb8","type":"ui_gauge","z":"88b21650.b7cd4","name":"","group":"63c37945.44385","order":2,"width":0,"height":0,"gtype":"gage","title":"Außentemperatur","label":"","format":"{{value}} °C","min":"-10","max":"30","colors":["#3e1cff","#2dbc29","#ca3838"],"seg1":"10","seg2":"20","x":542.5,"y":1646.25,"wires":[]},{"id":"99bfc4dd.e1e6b8","type":"smooth","z":"88b21650.b7cd4","name":"min","action":"min","count":"1000","round":"2","mult":"single","x":388.7500305175781,"y":1680,"wires":[["59f3ed5f.a8cac4"]]},{"id":"59f3ed5f.a8cac4","type":"ui_text","z":"88b21650.b7cd4","group":"63c37945.44385","order":3,"width":0,"height":0,"name":"","label":"tiefste Temperatur: ","format":"{{msg.payload}} °C","layout":"row-left","x":541.9444274902344,"y":1680.6943969726562,"wires":[]},{"id":"4e2042ff.ee09d4","type":"smooth","z":"88b21650.b7cd4","name":"min","action":"min","count":"1000","round":"2","mult":"single","x":382.5,"y":1483.75,"wires":[["a25ca809.c85ef"]]},{"id":"a25ca809.c85ef","type":"ui_text","z":"88b21650.b7cd4","group":"a7ad9951.2548b8","order":3,"width":0,"height":0,"name":"","label":"tiefste Temperatur: ","format":"{{msg.payload}} °C","layout":"row-left","x":545.6944274902344,"y":1484.4443969726562,"wires":[]},{"id":"d4705314.a9ea28","type":"change","z":"88b21650.b7cd4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Bodentemperatur","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":277.5,"y":1540,"wires":[["73e74be2.a7697c"]]},{"id":"359f8823.210e28","type":"change","z":"88b21650.b7cd4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Außentemperatur","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":277.5,"y":1571.25,"wires":[["73e74be2.a7697c"]]},{"id":"d86dacbd.d81c3","type":"ui_chart","z":"88b21650.b7cd4","name":"","group":"63c37945.44385","order":1,"width":0,"height":0,"label":"Außentemperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":542.5,"y":1606.25,"wires":[[],[]]},{"id":"92652b94.d34008","type":"delay","z":"88b21650.b7cd4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1360,"y":1540,"wires":[["5a1cb420.319064"]]},{"id":"99bfad64.ebfc7","type":"switch","z":"88b21650.b7cd4","name":"Switch:Temp < 0 °C","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"0","vt":"str"}],"checkall":"false","outputs":1,"x":1110,"y":1580,"wires":[["74d007dd.e7cd58"]]},{"id":"74d007dd.e7cd58","type":"delay","z":"88b21650.b7cd4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1360,"y":1580,"wires":[["5a1cb420.319064"]]},{"id":"8b75392e.1d14e","type":"function","z":"a3010e25.2107e","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Guten Morgen, draußen sind es \" + msg.payload +\" °C.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":940,"wires":[["10e41172.a7aaa7"]]},{"id":"44c98b13.09e8dc","type":"change","z":"a3010e25.2107e","name":"set Payload to flow.Außentemperatur","rules":[{"t":"set","p":"payload","pt":"msg","to":"Außen","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":940,"wires":[["8b75392e.1d14e"]]},{"id":"52104bb0.184294","type":"delay","z":"a3010e25.2107e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":540,"y":940,"wires":[["44c98b13.09e8dc"]]},{"id":"8180a8a7.44941","type":"delay","z":"31581c4b.97a8c4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":180,"wires":[["5b246bf9.4f1f14"]]},{"id":"547821ce.182858","type":"comment","z":"a3010e25.2107e","name":"Guten-Morgen-Temperatur","info":"","x":470,"y":880,"wires":[]},{"id":"4fa3e9b7.aa0b1","type":"inject","z":"a3010e25.2107e","name":"GutenMorgen-Msg","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 07 * * *","once":false,"x":300,"y":940,"wires":[["52104bb0.184294"]]},{"id":"13927279.83282e","type":"chatbot-telegram-receive","z":"4402170b.a797","bot":"9ae2fad3.2ef6b","x":90,"y":40,"wires":[["48e6a96e.b0e39","f965e20a.775358"]]},{"id":"8fc423b.36b126","type":"chatbot-telegram-send","z":"4402170b.a797","bot":"9ae2fad3.2ef6b","track":false,"outputs":0,"x":1330,"y":20,"wires":[]},{"id":"f10d18df.6e8ac8","type":"ui_chart","z":"4402170b.a797","name":"","group":"8bb42d27.da57c8","order":1,"width":0,"height":0,"label":"Kippen per day in a week","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"keine Daten","dot":true,"ymin":"0","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":990,"y":260,"wires":[["48745cf0.fa812c"],[]]},{"id":"664533e.da7e2cc","type":"ui_text_input","z":"4402170b.a797","name":"UI-Text input","label":"Jonas mit Text nerven:","group":"31093ace.5bd31e","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":630,"y":20,"wires":[["a30de3bd.cea3e8"]]},{"id":"a30de3bd.cea3e8","type":"function","z":"4402170b.a797","name":"convert Text input","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : msg.payload} };\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":20,"wires":[["d8aae02c.d6047"]]},{"id":"d8aae02c.d6047","type":"chatbot-conversation","z":"4402170b.a797","name":"","botTelegram":"9ae2fad3.2ef6b","botSlack":"","botFacebook":"","chatId":"173173012","transport":"telegram","messageId":"","contextMessageId":false,"store":"","x":1130,"y":20,"wires":[["8fc423b.36b126"]]},{"id":"48e6a96e.b0e39","type":"chatbot-command","z":"4402170b.a797","name":"","command":"/kippe","x":210,"y":240,"wires":[["239c6cba.1488e4","c68708b4.731278"]]},{"id":"db5f5de0.7ad7f8","type":"ui_text","z":"4402170b.a797","group":"8bb42d27.da57c8","order":2,"width":0,"height":0,"name":"","label":"Kippen: ","format":"{{msg.payload}}","layout":"row-left","x":940,"y":300,"wires":[]},{"id":"68199886.c9a53","type":"function","z":"4402170b.a797","name":"sendet Kippenanzahl","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Du hast heute schon \" + msg.payload +\" Zigaretten geraucht.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":220,"wires":[["d8aae02c.d6047"]]},{"id":"7c5cc50e.1967f4","type":"comment","z":"31581c4b.97a8c4","name":"Sendet jede Stunde die Außentemperatur an Google","info":"Problem:\nDie Werte werden jedoch als Text und\nnicht als Zahl behandelt.","x":252.70832061767578,"y":114.16666030883789,"wires":[]},{"id":"b9e93b77.cd89d8","type":"file","z":"31581c4b.97a8c4","name":"","filename":"~/home/test/test1","appendNewline":true,"createDir":true,"overwriteFile":"false","x":351.8750190734863,"y":281.2500190734863,"wires":[]},{"id":"239c6cba.1488e4","type":"interval-length","z":"4402170b.a797","format":"human","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","startup":false,"name":"","x":720,"y":360,"wires":[["a68604cd.e20de","3bb5905c.6d028"]]},{"id":"a68604cd.e20de","type":"function","z":"4402170b.a797","name":"sendet Kippenintervall","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Vor \" + msg.payload +\" war deine letzte.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":360,"wires":[["d8aae02c.d6047"]]},{"id":"573dd157.17abf","type":"ui_gauge","z":"daaca598.db1fb","name":"","group":"1eb5f175.24493f","order":2,"width":"3","height":"3","gtype":"gage","title":"CPU Temperatur","label":"","format":"{{value}} °C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":60,"wires":[]},{"id":"34fe9d52.69696a","type":"exec","z":"daaca598.db1fb","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":330,"y":120,"wires":[["134ffdb2.6ce402"],[],[]]},{"id":"b14ea432.891208","type":"inject","z":"daaca598.db1fb","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":119.6666259765625,"y":172,"wires":[["34fe9d52.69696a","852dc0c0.a38288","8bcd8a8a.a4ad98"]]},{"id":"134ffdb2.6ce402","type":"function","z":"daaca598.db1fb","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["573dd157.17abf","82fd80d5.583af"]]},{"id":"690f2e0b.aed9a8","type":"ui_button","z":"daaca598.db1fb","name":"","group":"48b61eee.369028","order":2,"width":0,"height":0,"passthru":false,"label":"Reboot","color":"","bgcolor":"","icon":"settings_backup_restore","payload":"","payloadType":"str","topic":"","x":72.1666259765625,"y":834.5,"wires":[["2d485653.945792"]]},{"id":"2d485653.945792","type":"exec","z":"daaca598.db1fb","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":720,"y":840,"wires":[[],[],[]]},{"id":"c9007ba5.ee181","type":"ui_button","z":"daaca598.db1fb","name":"","group":"48b61eee.369028","order":3,"width":0,"height":0,"passthru":false,"label":"Shutdown","color":"","bgcolor":"red","icon":"power_settings_new","payload":"","payloadType":"str","topic":"","x":69.6666259765625,"y":879.5,"wires":[["e627c430.2dd7f"]]},{"id":"e627c430.2dd7f","type":"exec","z":"daaca598.db1fb","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":723.4166259765625,"y":879.5,"wires":[[],[],[]]},{"id":"82fd80d5.583af","type":"ui_chart","z":"daaca598.db1fb","name":"","group":"1eb5f175.24493f","order":5,"width":0,"height":0,"label":"Temperatur [°C]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"48","ymax":"56","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":1000,"y":100,"wires":[[],[]]},{"id":"852dc0c0.a38288","type":"exec","z":"daaca598.db1fb","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":330,"y":180,"wires":[["a6e5b8fa.9217e","16a5389d.020d47"],[],[]]},{"id":"8bcd8a8a.a4ad98","type":"exec","z":"daaca598.db1fb","command":"free | grep Mem | awk '{print (100*($4+$6+$7)/$2)}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Free Memory","x":330,"y":240,"wires":[["d86bbbe7.5baed8"],[],[]]},{"id":"a6e5b8fa.9217e","type":"ui_gauge","z":"daaca598.db1fb","name":"","group":"1eb5f175.24493f","order":1,"width":"0","height":"0","gtype":"gage","title":"Prozessorauslastung","label":"CPU","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1020,"y":140,"wires":[]},{"id":"d86bbbe7.5baed8","type":"ui_gauge","z":"daaca598.db1fb","name":"","group":"1eb5f175.24493f","order":3,"width":"3","height":"3","gtype":"gage","title":"Arbeitsspeicher","label":"RAM","format":"{{value.toFixed(1)}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":220,"wires":[]},{"id":"a62cc718.a024e8","type":"exec","z":"daaca598.db1fb","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Disk Usage","x":330,"y":300,"wires":[["d1dfdfea.dfd0d8"],[],[]]},{"id":"2092fd8.7cba602","type":"ui_gauge","z":"daaca598.db1fb","name":"","group":"9a9bcd96.3728b","order":2,"width":0,"height":0,"gtype":"gage","title":"Belegter Speicherplatz","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1020,"y":320,"wires":[]},{"id":"d1dfdfea.dfd0d8","type":"function","z":"daaca598.db1fb","name":"Speicher","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":524.6666259765625,"y":299.5,"wires":[["2092fd8.7cba602","2d3d6282.66903e","4b31d56a.49b8fc","58aa94ef.f91864","ce60303c.8ea09","8ece49e3.7bbc18"]]},{"id":"6603a2fc.4e317c","type":"inject","z":"daaca598.db1fb","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":120.9166259765625,"y":312,"wires":[["a62cc718.a024e8"]]},{"id":"83ded3e.1514e3","type":"function","z":"daaca598.db1fb","name":"Sende Payload als Nachricht","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Der Speicher der Himbeere ist zu \" + msg.payload +\" % belegt.\"} };\nreturn msg2;","outputs":1,"noerr":0,"x":1104.6666259765625,"y":712,"wires":[["15f4d41b.10bba4"]]},{"id":"15757cd9.17e3cb","type":"change","z":"daaca598.db1fb","name":"set Payload to flow.Speicher","rules":[{"t":"set","p":"payload","pt":"msg","to":"Speicher","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":783.4166259765625,"y":712,"wires":[["83ded3e.1514e3"]]},{"id":"2d3d6282.66903e","type":"change","z":"daaca598.db1fb","name":"","rules":[{"t":"set","p":"Speicher","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":768.4166259765625,"y":323.25,"wires":[[]]},{"id":"cc43d212.015a8","type":"chatbot-telegram-receive","z":"daaca598.db1fb","bot":"9ae2fad3.2ef6b","x":98.4166259765625,"y":725.75,"wires":[["dccd8e1e.3752a8","8996ee8e.3c898","73eaa21f.ee8dcc","b03104eb.dd57f8","f9b4350b.864ae8","e3a1eb5.962cf18","95bb4343.f41438"]]},{"id":"dccd8e1e.3752a8","type":"chatbot-command","z":"daaca598.db1fb","name":"","command":"/speicher","x":324.6666259765625,"y":624.5,"wires":[["15757cd9.17e3cb"]],"outputLabels":["/wz"]},{"id":"15f4d41b.10bba4","type":"chatbot-conversation","z":"daaca598.db1fb","name":"","botTelegram":"9ae2fad3.2ef6b","botSlack":"","botFacebook":"","chatId":"173173012","transport":"telegram","messageId":"","contextMessageId":false,"store":"","x":1575.4166259765625,"y":732,"wires":[["755473e3.0aace4"]]},{"id":"4e06779d.98bf78","type":"function","z":"daaca598.db1fb","name":"Sende Payload als Nachricht","func":"var msg1 = {\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Achtung! Der Speicher der Himbeere ist zu \" + msg.payload + \" % belegt. Die logs werden automatisch gelöscht. Bitte warte oder reboote.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1109.9166259765625,"y":482,"wires":[["15f4d41b.10bba4"]]},{"id":"4b31d56a.49b8fc","type":"switch","z":"daaca598.db1fb","name":"Switch:Disk > 80 %","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"80","vt":"str"}],"checkall":"false","outputs":1,"x":495.9166259765625,"y":482,"wires":[["cd63e2b6.960c8","607e966b.2f4bb8"]]},{"id":"cd63e2b6.960c8","type":"delay","z":"daaca598.db1fb","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":775.9166259765625,"y":483.25,"wires":[["4e06779d.98bf78"]]},{"id":"399b1502.b77d92","type":"comment","z":"daaca598.db1fb","name":"Achtung, wenn Speicher über 80% belegt","info":"","x":547.9166259765625,"y":445,"wires":[]},{"id":"103c3938.12a34f","type":"function","z":"daaca598.db1fb","name":"Sende Payload als Nachricht","func":"var msg1 = {\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Die Speicherbelegung der Himbeere ist nun unter 15 %. \"+ \"Sie beträgt momentan \" + msg.payload + \" %. Die logs wurden wohl gelöscht.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1105.9166259765625,"y":564.5,"wires":[["15f4d41b.10bba4"]]},{"id":"58aa94ef.f91864","type":"switch","z":"daaca598.db1fb","name":"Switch:Disk < 15 %","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"15","vt":"str"}],"checkall":"false","outputs":1,"x":495.9166259765625,"y":562,"wires":[["dcd3c736.c2c918"]]},{"id":"dcd3c736.c2c918","type":"delay","z":"daaca598.db1fb","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":774.6666259765625,"y":562,"wires":[["103c3938.12a34f"]]},{"id":"af41a04.7238a6","type":"comment","z":"daaca598.db1fb","name":"Info: Logs wurden gelöscht","info":"","x":495.9166259765625,"y":522,"wires":[]},{"id":"8996ee8e.3c898","type":"chatbot-command","z":"daaca598.db1fb","name":"","command":"/status","x":315.9166259765625,"y":710.75,"wires":[["15757cd9.17e3cb"]]},{"id":"73eaa21f.ee8dcc","type":"chatbot-command","z":"daaca598.db1fb","name":"","command":"/shutdown","x":334.6666259765625,"y":880.75,"wires":[["125839b7.542d26","4a49d994.d99628"]]},{"id":"b03104eb.dd57f8","type":"chatbot-command","z":"daaca598.db1fb","name":"","command":"/reboot","x":324.6666259765625,"y":838.25,"wires":[["e3856afd.a63df","bbd8c3a9.bd0a6"]]},{"id":"4a49d994.d99628","type":"function","z":"daaca598.db1fb","name":"Sende Payload als Nachricht","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die Himbeere wird in 3 Sekunden heruntergefahren.\"} };\nreturn msg2;","outputs":1,"noerr":0,"x":1103.4166259765625,"y":879.5,"wires":[["15f4d41b.10bba4"]]},{"id":"125839b7.542d26","type":"delay","z":"daaca598.db1fb","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":562.1666259765625,"y":879.5,"wires":[["e627c430.2dd7f"]]},{"id":"e3856afd.a63df","type":"delay","z":"daaca598.db1fb","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":840,"wires":[["2d485653.945792"]]},{"id":"bbd8c3a9.bd0a6","type":"function","z":"daaca598.db1fb","name":"Sende Payload als Nachricht","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die Himbeere wird in 3 Sekunden neugestartet.\"} };\nreturn msg2;","outputs":1,"noerr":0,"x":1103.4166259765625,"y":837,"wires":[["15f4d41b.10bba4"]]},{"id":"57c2619d.e7d2a8","type":"exec","z":"daaca598.db1fb","command":"sudo apt-get clean","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":754.6666259765625,"y":758.25,"wires":[[],[],[]]},{"id":"f9b4350b.864ae8","type":"chatbot-command","z":"daaca598.db1fb","name":"","command":"/clean","x":314.6666259765625,"y":758.25,"wires":[["57c2619d.e7d2a8","b542bbef.c963d8"]]},{"id":"b542bbef.c963d8","type":"function","z":"daaca598.db1fb","name":"Sende Payload als Nachricht","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Der Befehl sudo apt-get clean wurde ausgeführt.\"} };\nreturn msg2;","outputs":1,"noerr":0,"x":1103.4166259765625,"y":757,"wires":[["15f4d41b.10bba4"]]},{"id":"e3a1eb5.962cf18","type":"chatbot-command","z":"daaca598.db1fb","name":"","command":"/remove","x":324.6666259765625,"y":664.5,"wires":[["607e966b.2f4bb8","b034893f.253268"]],"outputLabels":["/wz"]},{"id":"607e966b.2f4bb8","type":"exec","z":"daaca598.db1fb","command":"sudo rm /var/log/daemon.log /var/log/daemon.log.1 /var/log/syslog /var/log/syslog.1","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"löscht Logs","x":730,"y":660,"wires":[[],[],[]]},{"id":"b034893f.253268","type":"function","z":"daaca598.db1fb","name":"Sende Payload als Nachricht","func":"var msg1 = {\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Die logs sollten gelöscht worden sein.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1104.6666259765625,"y":664.5,"wires":[["15f4d41b.10bba4"]]},{"id":"95bb4343.f41438","type":"chatbot-command","z":"daaca598.db1fb","name":"","command":"/stop","x":314.6666259765625,"y":798.25,"wires":[["1097fa7e.84302e","d0bb05bf.c3023"]]},{"id":"45c091f2.7ab93","type":"exec","z":"daaca598.db1fb","command":"node-red-stop","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":744.6666259765625,"y":798.25,"wires":[[],[],[]]},{"id":"1097fa7e.84302e","type":"delay","z":"daaca598.db1fb","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":800,"wires":[["45c091f2.7ab93"]]},{"id":"d0bb05bf.c3023","type":"function","z":"daaca598.db1fb","name":"Sende Payload als Nachricht","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Node-Red wird in 3 Sekunden ausgeschaltet. Zuhause musst du's im Terminal wieder starten!\"} };\nreturn msg2;","outputs":1,"noerr":0,"x":1103.4166259765625,"y":797,"wires":[["15f4d41b.10bba4"]]},{"id":"802f8398.e9a048","type":"ui_button","z":"daaca598.db1fb","name":"","group":"48b61eee.369028","order":1,"width":0,"height":0,"passthru":false,"label":"clean Logs","color":"","bgcolor":"green","icon":"delete_forever","payload":"","payloadType":"str","topic":"","x":80.9166259765625,"y":662,"wires":[["607e966b.2f4bb8"]]},{"id":"ce60303c.8ea09","type":"switch","z":"daaca598.db1fb","name":"Speicher > 95 %","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"95","vt":"str"}],"checkall":"true","outputs":1,"x":520,"y":1140,"wires":[["df270e2a.51ce5","2e46ab5.94d4954"]]},{"id":"df270e2a.51ce5","type":"function","z":"daaca598.db1fb","name":"Sende Payload als Nachricht","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Auto-Reboot in 3 Sekunden. Speicherplatz am Limit!\"} };\nreturn msg2;","outputs":1,"noerr":0,"x":840,"y":1140,"wires":[["15f4d41b.10bba4"]]},{"id":"2ff3452d.d41852","type":"comment","z":"daaca598.db1fb","name":"Auto-Reboot, wenn Speicher > 95%","info":"","x":547.7916450500488,"y":1001.1666603088379,"wires":[]},{"id":"5bb4ffc4.b61758","type":"inject","z":"daaca598.db1fb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":1627.4166259765625,"y":1207,"wires":[["9ec56ba4.87d688"]]},{"id":"9ec56ba4.87d688","type":"function","z":"daaca598.db1fb","name":"online","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"RPi-Control ist online. \" + msg.payload} };\nreturn msg2;","outputs":1,"noerr":0,"x":1582.083251953125,"y":1090.6666259765625,"wires":[["15f4d41b.10bba4"]]},{"id":"a4e73e02.b91418","type":"debug","z":"a3010e25.2107e","name":"","active":true,"console":"false","complete":"false","x":572.9999999999999,"y":36.66665649414062,"wires":[]},{"id":"755473e3.0aace4","type":"chatbot-telegram-send","z":"daaca598.db1fb","bot":"9ae2fad3.2ef6b","track":false,"outputs":0,"x":1732.3332824707027,"y":832.6666564941404,"wires":[]},{"id":"d0264bbf.9d9358","type":"inject","z":"88b21650.b7cd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":1937,"y":778,"wires":[["8c15f5a7.fd0af"]]},{"id":"8c15f5a7.fd0af","type":"function","z":"88b21650.b7cd4","name":"online","func":"var msg1 = {\"topic\": msg.topic,\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Sensoren sind online. \" + msg.payload} };\nreturn msg1;","outputs":1,"noerr":0,"x":1922.666748046875,"y":734,"wires":[["9dbf0128.d52268"]]},{"id":"dc8c07fa.3d9ec","type":"inject","z":"a3010e25.2107e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":1610,"y":360,"wires":[["437e5e7c.7f6da8"]]},{"id":"437e5e7c.7f6da8","type":"function","z":"a3010e25.2107e","name":"online-status","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Telegram-Bot ist online. \" + msg.payload} };\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":320,"wires":[["10e41172.a7aaa7"]]},{"id":"72bc7872.8b16a8","type":"function","z":"daaca598.db1fb","name":"timeConvert-Funktioniert noch nicht","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1485.166748046875,"y":1162,"wires":[[]]},{"id":"dbc8d69b.23e3a8","type":"mqtt in","z":"7cc148a.18627b8","name":"Außentemp","topic":"/keller/temp/28ffca9721747","qos":"2","broker":"fa6f670a.8af6c8","x":208.1666717529297,"y":117.16666412353516,"wires":[["3f73782b.23192"]]},{"id":"3f73782b.23192","type":"ui_chart","z":"7cc148a.18627b8","name":"","group":"31093ace.5bd31e","order":1,"width":"12","height":"6","label":"Außentemperatur: 6 Monate","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":694.9166717529297,"y":96.9166030883789,"wires":[["917c7524.33f08"],[]]},{"id":"917c7524.33f08","type":"persist in","z":"7cc148a.18627b8","name":"Außentemp","storageNode":"5ad6b993.e52a38","x":992.8332977294922,"y":89.33334350585938,"wires":[]},{"id":"2b41358f.e76b3a","type":"persist out","z":"7cc148a.18627b8","name":"Außentemp","storageNode":"5ad6b993.e52a38","x":721.8333587646484,"y":196.99998474121094,"wires":[["3f73782b.23192"]]},{"id":"3bb5905c.6d028","type":"ui_text","z":"4402170b.a797","group":"8bb42d27.da57c8","order":3,"width":0,"height":0,"name":"","label":"Letzte Kippe vor ","format":"{{msg.payload}}","layout":"row-left","x":960,"y":360,"wires":[]},{"id":"c632e5dd.b2b288","type":"ui_button","z":"4402170b.a797","name":"","group":"8bb42d27.da57c8","order":4,"width":0,"height":0,"passthru":false,"label":"Nächste Kippe","color":"","bgcolor":"","icon":"smoke_rooms","payload":"","payloadType":"str","topic":"","x":180,"y":360,"wires":[["239c6cba.1488e4","c68708b4.731278"]]},{"id":"ce07d006.f71ba8","type":"mqtt in","z":"a3010e25.2107e","name":"Wohnzimmer/Humid","topic":"/wz/humid","qos":"0","broker":"fa6f670a.8af6c8","x":130,"y":1900,"wires":[["f0060a00.3f4d2"]]},{"id":"fbda7821.78bff8","type":"mqtt in","z":"a3010e25.2107e","name":"Küche/Humid","topic":"/kueche/humid","qos":"2","broker":"fa6f670a.8af6c8","x":110,"y":1820,"wires":[["aafe5ef.972e72"]]},{"id":"2dcc340d.b8ee8c","type":"mqtt in","z":"a3010e25.2107e","name":"Schlafzimmer/Humid","topic":"/sz/humid","qos":"2","broker":"fa6f670a.8af6c8","x":130,"y":1940,"wires":[["f900b401.174498"]]},{"id":"3f34c98c.636776","type":"mqtt in","z":"a3010e25.2107e","name":"Bad/Humid","topic":"/bad/humid","qos":"0","broker":"fa6f670a.8af6c8","x":100,"y":1860,"wires":[["f473f5c6.92a23"]]},{"id":"aafe5ef.972e72","type":"falling-edge","z":"a3010e25.2107e","name":"fällt um 8 %","threshold":"8","x":390,"y":1820,"wires":[["10346ff3.c69f3"]]},{"id":"f473f5c6.92a23","type":"falling-edge","z":"a3010e25.2107e","name":"fällt um 8 %","threshold":"8","x":390,"y":1860,"wires":[["ffb7ca08.88cc68"]]},{"id":"f0060a00.3f4d2","type":"falling-edge","z":"a3010e25.2107e","name":"fällt um 8 %","threshold":"8","x":390,"y":1900,"wires":[["f972fbf1.c8c438"]]},{"id":"f900b401.174498","type":"falling-edge","z":"a3010e25.2107e","name":"fällt um 8 %","threshold":"8","x":390,"y":1940,"wires":[["79d7fa6.1f4df84"]]},{"id":"98323ce.4079bc","type":"function","z":"a3010e25.2107e","name":"Sende Payload als Nachricht","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : msg.topic +\": gut gelüftet\"} };\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1880,"wires":[["b53b660.be53818"]]},{"id":"10346ff3.c69f3","type":"change","z":"a3010e25.2107e","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Küche","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1820,"wires":[["98323ce.4079bc"]]},{"id":"ffb7ca08.88cc68","type":"change","z":"a3010e25.2107e","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Bad","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1860,"wires":[["98323ce.4079bc"]]},{"id":"f972fbf1.c8c438","type":"change","z":"a3010e25.2107e","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Wohnzimmer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1900,"wires":[["98323ce.4079bc"]]},{"id":"79d7fa6.1f4df84","type":"change","z":"a3010e25.2107e","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Schlafzimmer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1940,"wires":[["98323ce.4079bc"]]},{"id":"b53b660.be53818","type":"chatbot-conversation","z":"a3010e25.2107e","name":"","botTelegram":"9ae2fad3.2ef6b","botSlack":"","botFacebook":"","chatId":"173173012","transport":"telegram","messageId":"","contextMessageId":false,"store":"","x":1130,"y":1880,"wires":[["227b95fe.2638fa"]]},{"id":"227b95fe.2638fa","type":"chatbot-telegram-send","z":"a3010e25.2107e","bot":"c68a9a91.867c5","track":false,"outputs":0,"x":1150,"y":1920,"wires":[]},{"id":"6affe999.b3c928","type":"mqtt in","z":"7cc148a.18627b8","name":"Bodentemp","topic":"/keller/temp/28ff8c388a1635a","qos":"2","broker":"fa6f670a.8af6c8","x":210,"y":200,"wires":[["48d19f8a.9b1d4"]]},{"id":"48d19f8a.9b1d4","type":"ui_chart","z":"7cc148a.18627b8","name":"","group":"31093ace.5bd31e","order":1,"width":"12","height":"6","label":"Bodentemperatur: 6 Monate","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#aec7e8","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":700,"y":260,"wires":[["912d48bb.b6664"],[]]},{"id":"912d48bb.b6664","type":"persist in","z":"7cc148a.18627b8","name":"Bodentemp","storageNode":"4b4dc27f.5f814c","x":980,"y":280,"wires":[]},{"id":"9f9181b6.adb638","type":"persist out","z":"7cc148a.18627b8","name":"Bodentemp","storageNode":"4b4dc27f.5f814c","x":560,"y":360,"wires":[["48d19f8a.9b1d4"]]},{"id":"f01d0357.ea37c8","type":"ui_button","z":"4402170b.a797","name":"","group":"8bb42d27.da57c8","order":0,"width":"0","height":"0","passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"fa-refresh","payload":"","payloadType":"str","topic":"","x":210,"y":320,"wires":[["208db091.5390b8"]]},{"id":"16a5389d.020d47","type":"ui_chart","z":"daaca598.db1fb","name":"","group":"1eb5f175.24493f","order":4,"width":0,"height":0,"label":"Prozessorauslastung [%]","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1030,"y":180,"wires":[[],[]]},{"id":"cab6f930.e9dd2","type":"exec","z":"daaca598.db1fb","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":840,"y":1080,"wires":[[],[],[]]},{"id":"2e46ab5.94d4954","type":"delay","z":"daaca598.db1fb","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":1080,"wires":[["cab6f930.e9dd2"]]},{"id":"8ece49e3.7bbc18","type":"ui_chart","z":"daaca598.db1fb","name":"","group":"9a9bcd96.3728b","order":0,"width":0,"height":0,"label":"Speicherplatzfüllung [%]","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1030,"y":280,"wires":[[],[]]},{"id":"30f3f9e2.f9282e","type":"ui_chart","z":"4402170b.a797","name":"","group":"c2a5d7ff.9af3f","order":1,"width":0,"height":0,"label":"Bier per day in a week","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"keine Daten","dot":true,"ymin":"0","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1000,"y":600,"wires":[["fa9445b5.3904f"],[]]},{"id":"9137fca6.8acc28","type":"ui_text","z":"4402170b.a797","group":"c2a5d7ff.9af3f","order":2,"width":0,"height":0,"name":"","label":"Bier: ","format":"{{msg.payload}}","layout":"row-left","x":950,"y":640,"wires":[]},{"id":"8e891982.93969","type":"function","z":"4402170b.a797","name":"sendet Bieranzahl","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Du hast heute schon \" + msg.payload +\" Bier getrunken.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":560,"wires":[["d8aae02c.d6047"]]},{"id":"a667ddc1.bd7a08","type":"interval-length","z":"4402170b.a797","format":"human","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","startup":false,"name":"","x":740,"y":700,"wires":[["3b3b53d.e4b37ac","7df5e674.155d98"]]},{"id":"3b3b53d.e4b37ac","type":"function","z":"4402170b.a797","name":"sendet Bierintervall","func":"var msg = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Vor \" + msg.payload +\" war dein letztes.\"} };\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":700,"wires":[["d8aae02c.d6047"]]},{"id":"7df5e674.155d98","type":"ui_text","z":"4402170b.a797","group":"c2a5d7ff.9af3f","order":3,"width":0,"height":0,"name":"","label":"Letztes Bier vor ","format":"{{msg.payload}}","layout":"row-left","x":980,"y":700,"wires":[]},{"id":"f3f0496a.3a29d","type":"ui_button","z":"4402170b.a797","name":"","group":"c2a5d7ff.9af3f","order":4,"width":0,"height":0,"passthru":false,"label":"Nächstes Bier","color":"","bgcolor":"","icon":"fa-beer","payload":"","payloadType":"str","topic":"","x":160,"y":700,"wires":[["a667ddc1.bd7a08","622feafd.b20ef4"]]},{"id":"609d0884.95fb7","type":"ui_button","z":"4402170b.a797","name":"","group":"c2a5d7ff.9af3f","order":0,"width":"0","height":"0","passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"fa-refresh","payload":"","payloadType":"str","topic":"","x":190,"y":660,"wires":[["62957161.f00088"]]},{"id":"f965e20a.775358","type":"chatbot-command","z":"4402170b.a797","name":"","command":"/bier","x":200,"y":580,"wires":[["622feafd.b20ef4","a667ddc1.bd7a08"]]},{"id":"622feafd.b20ef4","type":"function","z":"4402170b.a797","name":"+ 1","func":"msg.increment = 1;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":580,"wires":[["6ac46a27.9654cc"]]},{"id":"62957161.f00088","type":"function","z":"4402170b.a797","name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":660,"wires":[["6ac46a27.9654cc"]]},{"id":"7ec26bae.14bdc4","type":"function","z":"4402170b.a797","name":"- 1","func":"msg.decrement = 1;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":620,"wires":[["6ac46a27.9654cc"]]},{"id":"6ac46a27.9654cc","type":"counter","z":"4402170b.a797","name":"","init":"0","step":1,"lower":"","upper":"","mode":"increment","outputs":"1","x":720,"y":600,"wires":[["407cc7b9.a439f"]]},{"id":"407cc7b9.a439f","type":"change","z":"4402170b.a797","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":640,"wires":[["9137fca6.8acc28","30f3f9e2.f9282e","8e891982.93969"]]},{"id":"c68708b4.731278","type":"function","z":"4402170b.a797","name":"+ 1","func":"msg.increment = 1;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":240,"wires":[["d7dcb9dc.6f93d"]]},{"id":"208db091.5390b8","type":"function","z":"4402170b.a797","name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":320,"wires":[["d7dcb9dc.6f93d"]]},{"id":"be315c67.6ea398","type":"function","z":"4402170b.a797","name":"- 1","func":"msg.decrement = 1;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["d7dcb9dc.6f93d"]]},{"id":"d7dcb9dc.6f93d","type":"counter","z":"4402170b.a797","name":"","init":"0","step":1,"lower":"","upper":"","mode":"increment","outputs":"1","x":700,"y":260,"wires":[["260afdfc.389382"]]},{"id":"260afdfc.389382","type":"change","z":"4402170b.a797","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":300,"wires":[["db5f5de0.7ad7f8","f10d18df.6e8ac8","68199886.c9a53"]]},{"id":"7cbce4e4.688b84","type":"inject","z":"4402170b.a797","name":"reset um 04:30 Uhr","topic":"reset","payload":"","payloadType":"date","repeat":"","crontab":"30 04 * * *","once":false,"onceDelay":0.1,"x":300,"y":420,"wires":[["208db091.5390b8"]]},{"id":"5753baae.0c6864","type":"inject","z":"4402170b.a797","name":"reset um 04:30 Uhr","topic":"reset","payload":"","payloadType":"date","repeat":"","crontab":"30 04 * * *","once":false,"onceDelay":0.1,"x":320,"y":760,"wires":[["62957161.f00088"]]},{"id":"48745cf0.fa812c","type":"persist in","z":"4402170b.a797","name":"Kippen","storageNode":"11b86915.0a264f","x":1220,"y":260,"wires":[]},{"id":"a9a7be4a.282b","type":"persist out","z":"4402170b.a797","name":"kippen","storageNode":"f54d5b91.51469","x":910,"y":220,"wires":[["f10d18df.6e8ac8"]]},{"id":"fa9445b5.3904f","type":"persist in","z":"4402170b.a797","name":"bier","storageNode":"b6cfab4c.63f658","x":1210,"y":600,"wires":[]},{"id":"6cb678ad.c490e8","type":"persist out","z":"4402170b.a797","name":"Bier","storageNode":"e3062250.fc4f3","x":910,"y":560,"wires":[["30f3f9e2.f9282e"]]}]