lib/flows/MQTT-Dashboard+TelegramSwitch.json
[{"id":"3e17352.29790ca","type":"mqtt in","z":"db478359.e18518","name":"Keller","topic":"/esp/temp/28ff8c388a1635a","qos":"0","broker":"664eb3ef.b51cec","x":90,"y":80,"wires":[["96db80fa.922968","1e469b62.31009d","c4ccd3c2.a90708"]]},{"id":"124bc862.b3f98","type":"mqtt in","z":"db478359.e18518","name":"","topic":"/home/UV/UV","qos":"0","broker":"664eb3ef.b51cec","x":203,"y":459,"wires":[["876e7e3.01ade8"]]},{"id":"1e3b688.183b498","type":"switch","z":"db478359.e18518","name":"Switch:Temp > 35","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"35","vt":"str"}],"checkall":"false","outputs":1,"x":530,"y":160,"wires":[["940a8c5f.4e7428"]]},{"id":"1fa3be03.160822","type":"chatbot-conversation","z":"db478359.e18518","name":"","chatId":"173173012","transport":"telegram","messageId":"","contextMessageId":false,"x":1000,"y":160,"wires":[["2cac8e91.3023da"]]},{"id":"b576f1e9.c6f488","type":"mqtt in","z":"db478359.e18518","name":"","topic":"/home/UV/mW","qos":"0","broker":"664eb3ef.b51cec","x":223,"y":499,"wires":[["5ebd5012.e5aed"]]},{"id":"876e7e3.01ade8","type":"ui_chart","z":"db478359.e18518","name":"","group":"999c7317.1f90c8","order":1,"width":0,"height":0,"label":"UV","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":443,"y":459,"wires":[[],[]]},{"id":"5ebd5012.e5aed","type":"ui_chart","z":"db478359.e18518","name":"","group":"999c7317.1f90c8","order":2,"width":0,"height":0,"label":"mW","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":443,"y":499,"wires":[[],[]]},{"id":"659d8978.232a8","type":"mqtt in","z":"db478359.e18518","name":"","topic":"/home/UV/index","qos":"0","broker":"664eb3ef.b51cec","x":253,"y":539,"wires":[["fc5a959.703b968"]]},{"id":"fc5a959.703b968","type":"ui_text","z":"db478359.e18518","group":"999c7317.1f90c8","order":3,"width":0,"height":0,"name":"","label":"UV-Index:","format":"{{msg.payload}}","layout":"row-right","x":453,"y":539,"wires":[]},{"id":"f4841d2.f13b66","type":"mqtt in","z":"db478359.e18518","name":"Probe1/Keller","topic":"/esp/temp/28ff8c388a1635a","qos":"0","broker":"664eb3ef.b51cec","x":110,"y":660,"wires":[["1080e3e1.6804dc"]]},{"id":"55f12378.d2fb24","type":"ui_chart","z":"db478359.e18518","name":"","group":"29b00826.677e68","order":1,"width":"0","height":"0","label":"Garten und Keller","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#aec7e8","#27b62b","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":470,"y":640,"wires":[[],[]]},{"id":"2c1e6368.4114cc","type":"mqtt in","z":"db478359.e18518","name":"Probe2/Garten","topic":"/esp/temp/28ffca9721747","qos":"0","broker":"664eb3ef.b51cec","x":100,"y":700,"wires":[["133a2e18.1b3fa2"]]},{"id":"940a8c5f.4e7428","type":"function","z":"db478359.e18518","name":"Sende Payload als Nachricht","func":"var msg1 = {\"topic\": msg.topic, \"payload\": {\"chatId\" : 173173012, \"type\" : 'message', \"content\" : msg.topic + '\\n\\n' + \"Achtung! Die Temperatur im Wohnzimmer ist 체ber \" + msg.payload + \" 째C.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":760,"y":160,"wires":[["1fa3be03.160822"]]},{"id":"1c850b54.635a05","type":"inject","z":"db478359.e18518","name":"","topic":"","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"x":184,"y":175,"wires":[["d374a2aa.05547"]]},{"id":"96db80fa.922968","type":"change","z":"db478359.e18518","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Probe1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":120,"wires":[["d374a2aa.05547"]]},{"id":"c4ccd3c2.a90708","type":"ui_chart","z":"db478359.e18518","name":"","group":"15ba0f05.7bccc1","order":0,"width":0,"height":0,"label":"Temperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#aec7e8","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":516,"y":49,"wires":[[],[]]},{"id":"1e469b62.31009d","type":"ui_gauge","z":"db478359.e18518","name":"","group":"15ba0f05.7bccc1","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"째C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":507,"y":81,"wires":[]},{"id":"12be89b0.05fb46","type":"comment","z":"db478359.e18518","name":"UV-Messung","info":"","x":91,"y":418,"wires":[]},{"id":"386eb7e7.efa208","type":"comment","z":"db478359.e18518","name":"Zwei Thermometer-Messung","info":"","x":140,"y":614,"wires":[]},{"id":"d374a2aa.05547","type":"delay","z":"db478359.e18518","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":340,"y":160,"wires":[["1e3b688.183b498"]]},{"id":"1080e3e1.6804dc","type":"change","z":"db478359.e18518","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Keller","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":660,"wires":[["55f12378.d2fb24"]]},{"id":"133a2e18.1b3fa2","type":"change","z":"db478359.e18518","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Garten","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":700,"wires":[["55f12378.d2fb24","b7d1bef5.aec4a8"]]},{"id":"b7d1bef5.aec4a8","type":"ui_gauge","z":"db478359.e18518","name":"","group":"29b00826.677e68","order":0,"width":0,"height":0,"gtype":"gage","title":"Garten","label":"","format":"{{value}} 째C","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":701,"wires":[]},{"id":"2cac8e91.3023da","type":"chatbot-telegram-send","z":"db478359.e18518","bot":"d0d9c37f.eb1998","track":false,"parseMode":"","outputs":0,"x":1082,"y":209,"wires":[]},{"id":"664eb3ef.b51cec","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"msg.payload = {chatId :173173012, type : 'message', content : msg.payload}","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"999c7317.1f90c8","type":"ui_group","z":"","name":"UV","tab":"b08b080.3af6e78","order":3,"disp":true,"width":"6"},{"id":"29b00826.677e68","type":"ui_group","z":"","name":"Garten","tab":"b08b080.3af6e78","order":1,"disp":true,"width":"6"},{"id":"15ba0f05.7bccc1","type":"ui_group","z":"","name":"Wohnzimmer","tab":"b08b080.3af6e78","order":2,"disp":true,"width":"6"},{"id":"d0d9c37f.eb1998","type":"chatbot-telegram-node","z":"","botname":"FMS63_Bot","usernames":"173173012","polling":"1000","log":""},{"id":"b08b080.3af6e78","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1}]