lib/flows/RPi Control.json
[{"id":"f6f921a7.7d8e58","type":"ui_gauge","z":"5e92b465.1527a4","name":"","group":"a0697976.f3191","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Temperatur","label":"","format":"{{value}} °C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":998,"y":40,"wires":[]},{"id":"8f7acbf2.8507c","type":"exec","z":"5e92b465.1527a4","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":350,"y":60,"wires":[["2eeb2c54.54e4d4"],[],[]]},{"id":"c3240392.c6d77","type":"inject","z":"5e92b465.1527a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":144.5,"y":68.25,"wires":[["8f7acbf2.8507c","f0dbdbcf.7daa58","cba420e6.224198"]]},{"id":"2eeb2c54.54e4d4","type":"function","z":"5e92b465.1527a4","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":60,"wires":[["f6f921a7.7d8e58","ced6ad2a.082d98"]]},{"id":"3fe281a3.f85abe","type":"ui_button","z":"5e92b465.1527a4","name":"","group":"fe6258c6.d5989","order":2,"width":0,"height":0,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":542,"wires":[["651aa667.de3ca"]]},{"id":"651aa667.de3ca","type":"exec","z":"5e92b465.1527a4","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":338,"y":542,"wires":[[],[],[]]},{"id":"c7789e13.b07658","type":"ui_button","z":"5e92b465.1527a4","name":"","group":"fe6258c6.d5989","order":3,"width":0,"height":0,"label":"Shutdown","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":128.5,"y":586.25,"wires":[["9dc01783.ce2898"]]},{"id":"9dc01783.ce2898","type":"exec","z":"5e92b465.1527a4","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":349.5,"y":604.25,"wires":[[],[],[]]},{"id":"ced6ad2a.082d98","type":"ui_chart","z":"5e92b465.1527a4","name":"","group":"a0697976.f3191","order":3,"width":0,"height":0,"label":"Temperatur [°C]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"30","ymax":"80","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":988,"y":79,"wires":[[],[]]},{"id":"f0dbdbcf.7daa58","type":"exec","z":"5e92b465.1527a4","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":350,"y":140,"wires":[["e1fb07b7.d0e83"],[],[]]},{"id":"cba420e6.224198","type":"exec","z":"5e92b465.1527a4","command":"free | grep Mem | awk '{print (100*($4+$6+$7)/$2)}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Free Memory","x":350,"y":220,"wires":[["ac8a95e4.035b68"],[],[]]},{"id":"e1fb07b7.d0e83","type":"ui_gauge","z":"5e92b465.1527a4","name":"","group":"a0697976.f3191","order":1,"width":0,"height":0,"gtype":"gage","title":"Prozessorauslastung","label":"CPU","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1008,"y":118,"wires":[]},{"id":"ac8a95e4.035b68","type":"ui_gauge","z":"5e92b465.1527a4","name":"","group":"996a44d.8a19db8","order":1,"width":0,"height":0,"gtype":"gage","title":"Arbeitsspeicher","label":"RAM","format":"{{value.toFixed(1)}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":987,"y":158,"wires":[]},{"id":"22d9d444.e663d4","type":"exec","z":"5e92b465.1527a4","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Disk Usage","x":350,"y":402,"wires":[["44da444e.142a04"],[],[]]},{"id":"8642d1de.52fa7","type":"ui_gauge","z":"5e92b465.1527a4","name":"","group":"996a44d.8a19db8","order":2,"width":0,"height":0,"gtype":"gage","title":"Belegter Speicherplatz","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1004,"y":200,"wires":[]},{"id":"44da444e.142a04","type":"function","z":"5e92b465.1527a4","name":"Speicher","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":402,"wires":[["8642d1de.52fa7","69da76e1.d051a","b8acdf44.b2554"]]},{"id":"ceb58348.6e03b","type":"inject","z":"5e92b465.1527a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":150,"y":402,"wires":[["22d9d444.e663d4"]]},{"id":"243359f2.a0be56","type":"function","z":"5e92b465.1527a4","name":"Sende Payload als Nachricht","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Der Speicher der Himbeere ist zu  \" + msg.payload +\" % belegt.\"} };\nreturn msg2;","outputs":1,"noerr":0,"x":1029,"y":442,"wires":[["c1191ad1.bfa8b8"]]},{"id":"845ab8ab.2e0d3","type":"change","z":"5e92b465.1527a4","name":"set Payload to flow.Speicher","rules":[{"t":"set","p":"payload","pt":"msg","to":"Speicher","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":855,"y":554,"wires":[["243359f2.a0be56"]]},{"id":"69da76e1.d051a","type":"change","z":"5e92b465.1527a4","name":"","rules":[{"t":"set","p":"Speicher","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":753,"y":448,"wires":[[]]},{"id":"4fed0bd1.ff5b4c","type":"chatbot-telegram-receive","z":"5e92b465.1527a4","bot":"d0d9c37f.eb1998","x":754,"y":484,"wires":[["297e57e0.d0663"]]},{"id":"297e57e0.d0663","type":"chatbot-command","z":"5e92b465.1527a4","name":"","command":"/speicher","x":796,"y":520,"wires":[["845ab8ab.2e0d3"]],"outputLabels":["/wz"]},{"id":"e4fe7e3b.46779","type":"chatbot-telegram-send","z":"5e92b465.1527a4","bot":"d0d9c37f.eb1998","track":false,"parseMode":"","outputs":0,"x":1164,"y":553,"wires":[]},{"id":"c1191ad1.bfa8b8","type":"chatbot-conversation","z":"5e92b465.1527a4","name":"","chatId":"173173012","transport":"telegram","messageId":"","contextMessageId":false,"x":1147,"y":520,"wires":[["e4fe7e3b.46779"]]},{"id":"eb41f426.95536","type":"function","z":"5e92b465.1527a4","name":"Sende Payload als Nachricht","func":"var msg1 = {\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Achtung! Der Speicher der Himbeere ist zu \" + msg.payload + \" % belegt. Du solltest die logs löschen!\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1094,"y":660,"wires":[["c1191ad1.bfa8b8"]]},{"id":"8712c119.7040d","type":"switch","z":"5e92b465.1527a4","name":"Switch:Disk > 80 %","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"80","vt":"str"}],"checkall":"false","outputs":1,"x":844,"y":660,"wires":[["eb41f426.95536"]]},{"id":"b8acdf44.b2554","type":"delay","z":"5e92b465.1527a4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":654,"y":660,"wires":[["8712c119.7040d"]]},{"id":"ac58c8c8.0e2a18","type":"comment","z":"5e92b465.1527a4","name":"Speicher-Command-Abfrage","info":"","x":766,"y":406,"wires":[]},{"id":"6337cee2.1548d","type":"comment","z":"5e92b465.1527a4","name":"Achtung, wenn Speicher über 80% belegt","info":"","x":722,"y":623,"wires":[]},{"id":"a0697976.f3191","type":"ui_group","z":"","name":"Col1","tab":"59a92dfe.87f864","order":1,"disp":false,"width":"6"},{"id":"fe6258c6.d5989","type":"ui_group","z":"","name":"Actions","tab":"59a92dfe.87f864","order":4,"disp":true,"width":"6"},{"id":"996a44d.8a19db8","type":"ui_group","z":"","name":"Col2","tab":"59a92dfe.87f864","order":2,"disp":false,"width":"6"},{"id":"d0d9c37f.eb1998","type":"chatbot-telegram-node","z":"","botname":"FMS63_Bot","usernames":"173173012","polling":"1000","log":""},{"id":"59a92dfe.87f864","type":"ui_tab","z":"","name":"RPi Control","icon":"dashboard","order":2}]