lib/flows/RPIControl-Februar.json
[{"id":"f6f921a7.7d8e58","type":"ui_gauge","z":"5e92b465.1527a4","name":"","group":"a0697976.f3191","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Temperatur","label":"","format":"{{value}} °C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":999.25,"y":20,"wires":[]},{"id":"8f7acbf2.8507c","type":"exec","z":"5e92b465.1527a4","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":330,"y":40,"wires":[["2eeb2c54.54e4d4"],[],[]]},{"id":"c3240392.c6d77","type":"inject","z":"5e92b465.1527a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":116.25,"y":100,"wires":[["8f7acbf2.8507c","f0dbdbcf.7daa58","cba420e6.224198"]]},{"id":"2eeb2c54.54e4d4","type":"function","z":"5e92b465.1527a4","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":563.75,"y":26.25,"wires":[["f6f921a7.7d8e58","ced6ad2a.082d98"]]},{"id":"3fe281a3.f85abe","type":"ui_button","z":"5e92b465.1527a4","name":"","group":"fe6258c6.d5989","order":2,"width":0,"height":0,"passthru":false,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":68.75,"y":762.5,"wires":[["651aa667.de3ca"]]},{"id":"651aa667.de3ca","type":"exec","z":"5e92b465.1527a4","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":721.25,"y":767.5,"wires":[[],[],[]]},{"id":"c7789e13.b07658","type":"ui_button","z":"5e92b465.1527a4","name":"","group":"fe6258c6.d5989","order":3,"width":0,"height":0,"passthru":false,"label":"Shutdown","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":66.25,"y":807.5,"wires":[["9dc01783.ce2898"]]},{"id":"9dc01783.ce2898","type":"exec","z":"5e92b465.1527a4","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":720,"y":807.5,"wires":[[],[],[]]},{"id":"ced6ad2a.082d98","type":"ui_chart","z":"5e92b465.1527a4","name":"","group":"a0697976.f3191","order":3,"width":0,"height":0,"label":"Temperatur [°C]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"warte auf Daten","dot":false,"ymin":"30","ymax":"80","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":989.25,"y":59,"wires":[[],[]]},{"id":"f0dbdbcf.7daa58","type":"exec","z":"5e92b465.1527a4","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":330,"y":100,"wires":[["e1fb07b7.d0e83"],[],[]]},{"id":"cba420e6.224198","type":"exec","z":"5e92b465.1527a4","command":"free | grep Mem | awk '{print (100*($4+$6+$7)/$2)}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Free Memory","x":340,"y":160,"wires":[["ac8a95e4.035b68"],[],[]]},{"id":"e1fb07b7.d0e83","type":"ui_gauge","z":"5e92b465.1527a4","name":"","group":"a0697976.f3191","order":1,"width":0,"height":0,"gtype":"gage","title":"Prozessorauslastung","label":"CPU","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1006.75,"y":96.74998474121094,"wires":[]},{"id":"ac8a95e4.035b68","type":"ui_gauge","z":"5e92b465.1527a4","name":"","group":"996a44d.8a19db8","order":1,"width":0,"height":0,"gtype":"gage","title":"Arbeitsspeicher","label":"RAM","format":"{{value.toFixed(1)}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":988.25,"y":140.49998474121094,"wires":[]},{"id":"22d9d444.e663d4","type":"exec","z":"5e92b465.1527a4","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Disk Usage","x":330,"y":240,"wires":[["44da444e.142a04"],[],[]]},{"id":"8642d1de.52fa7","type":"ui_gauge","z":"5e92b465.1527a4","name":"","group":"996a44d.8a19db8","order":2,"width":0,"height":0,"gtype":"gage","title":"Belegter Speicherplatz","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1006.25,"y":221.25,"wires":[]},{"id":"44da444e.142a04","type":"function","z":"5e92b465.1527a4","name":"Speicher","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":521.25,"y":227.5,"wires":[["8642d1de.52fa7","69da76e1.d051a","8712c119.7040d","6db9a974.01df88","e162d7f9.e3fc68"]]},{"id":"ceb58348.6e03b","type":"inject","z":"5e92b465.1527a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":117.5,"y":240,"wires":[["22d9d444.e663d4"]]},{"id":"243359f2.a0be56","type":"function","z":"5e92b465.1527a4","name":"Sende Payload als Nachricht","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Der Speicher der Himbeere ist zu \" + msg.payload +\" % belegt.\"} };\nreturn msg2;","outputs":1,"noerr":0,"x":1101.25,"y":640,"wires":[["c1191ad1.bfa8b8"]]},{"id":"845ab8ab.2e0d3","type":"change","z":"5e92b465.1527a4","name":"set Payload to flow.Speicher","rules":[{"t":"set","p":"payload","pt":"msg","to":"Speicher","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":640,"wires":[["243359f2.a0be56"]]},{"id":"69da76e1.d051a","type":"change","z":"5e92b465.1527a4","name":"","rules":[{"t":"set","p":"Speicher","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":765,"y":251.25,"wires":[[]]},{"id":"4fed0bd1.ff5b4c","type":"chatbot-telegram-receive","z":"5e92b465.1527a4","bot":"d0d9c37f.eb1998","x":95,"y":653.75,"wires":[["297e57e0.d0663","259eaf66.4b72f","8283c071.634df","4e3ea1a5.0941f8","fcf90f81.899af8","d51e534a.849938","cd0e3542.030458"]]},{"id":"297e57e0.d0663","type":"chatbot-command","z":"5e92b465.1527a4","name":"","command":"/speicher","x":321.25,"y":552.5,"wires":[["845ab8ab.2e0d3"]],"outputLabels":["/wz"]},{"id":"e4fe7e3b.46779","type":"chatbot-telegram-send","z":"5e92b465.1527a4","bot":"d0d9c37f.eb1998","track":false,"outputs":0,"x":1760,"y":660,"wires":[]},{"id":"c1191ad1.bfa8b8","type":"chatbot-conversation","z":"5e92b465.1527a4","name":"","chatId":"173173012","transport":"telegram","messageId":"","contextMessageId":false,"x":1572,"y":660,"wires":[["e4fe7e3b.46779"]]},{"id":"eb41f426.95536","type":"function","z":"5e92b465.1527a4","name":"Sende Payload als Nachricht","func":"var msg1 = {\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Achtung! Der Speicher der Himbeere ist zu \" + msg.payload + \" % belegt. Die logs werden automatisch gelöscht. Bitte warte oder reboote.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1106.5,"y":410,"wires":[["c1191ad1.bfa8b8"]]},{"id":"8712c119.7040d","type":"switch","z":"5e92b465.1527a4","name":"Switch:Disk > 80 %","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"80","vt":"str"}],"checkall":"false","outputs":1,"x":492.5,"y":410,"wires":[["b8acdf44.b2554","d318fa57.cf8a38"]]},{"id":"b8acdf44.b2554","type":"delay","z":"5e92b465.1527a4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":772.5,"y":411.25,"wires":[["eb41f426.95536"]]},{"id":"6337cee2.1548d","type":"comment","z":"5e92b465.1527a4","name":"Achtung, wenn Speicher über 80% belegt","info":"","x":544.5,"y":373,"wires":[]},{"id":"b198f9bd.c4cba","type":"function","z":"5e92b465.1527a4","name":"Sende Payload als Nachricht","func":"var msg1 = {\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Die Speicherbelegung der Himbeere ist nun unter 15 %. \"+ \"Sie beträgt momentan \" + msg.payload + \" %. Die logs wurden wohl gelöscht.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1102.5,"y":492.5,"wires":[["c1191ad1.bfa8b8"]]},{"id":"6db9a974.01df88","type":"switch","z":"5e92b465.1527a4","name":"Switch:Disk < 15 %","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"15","vt":"str"}],"checkall":"false","outputs":1,"x":492.5,"y":490,"wires":[["d9fc3a52.b5d62"]]},{"id":"d9fc3a52.b5d62","type":"delay","z":"5e92b465.1527a4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":771.25,"y":490,"wires":[["b198f9bd.c4cba"]]},{"id":"4ace1128.5efa3","type":"comment","z":"5e92b465.1527a4","name":"Info: Logs wurden gelöscht","info":"","x":492.5,"y":450,"wires":[]},{"id":"259eaf66.4b72f","type":"chatbot-command","z":"5e92b465.1527a4","name":"","command":"/status","x":312.5,"y":638.75,"wires":[["845ab8ab.2e0d3"]]},{"id":"8283c071.634df","type":"chatbot-command","z":"5e92b465.1527a4","name":"","command":"/shutdown","x":331.25,"y":808.75,"wires":[["ba53c043.40e0c8","8a99704e.c48dd"]]},{"id":"4e3ea1a5.0941f8","type":"chatbot-command","z":"5e92b465.1527a4","name":"","command":"/reboot","x":321.25,"y":766.25,"wires":[["caeeb180.f640a8","b22289fa.46517"]]},{"id":"8a99704e.c48dd","type":"function","z":"5e92b465.1527a4","name":"Sende Payload als Nachricht","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die Himbeere wird in 3 Sekunden heruntergefahren.\"} };\nreturn msg2;","outputs":1,"noerr":0,"x":1100,"y":807.5,"wires":[["c1191ad1.bfa8b8"]]},{"id":"ba53c043.40e0c8","type":"delay","z":"5e92b465.1527a4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":558.75,"y":807.5,"wires":[["9dc01783.ce2898"]]},{"id":"caeeb180.f640a8","type":"delay","z":"5e92b465.1527a4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":765,"wires":[["651aa667.de3ca"]]},{"id":"b22289fa.46517","type":"function","z":"5e92b465.1527a4","name":"Sende Payload als Nachricht","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die Himbeere wird in 3 Sekunden neugestartet.\"} };\nreturn msg2;","outputs":1,"noerr":0,"x":1100,"y":765,"wires":[["c1191ad1.bfa8b8"]]},{"id":"4867dcc2.0e124c","type":"exec","z":"5e92b465.1527a4","command":"sudo apt-get clean","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":751.25,"y":686.25,"wires":[[],[],[]]},{"id":"fcf90f81.899af8","type":"chatbot-command","z":"5e92b465.1527a4","name":"","command":"/clean","x":311.25,"y":686.25,"wires":[["4867dcc2.0e124c","2e59bc7e.e77164"]]},{"id":"2e59bc7e.e77164","type":"function","z":"5e92b465.1527a4","name":"Sende Payload als Nachricht","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Der Befehl sudo apt-get clean wurde ausgeführt.\"} };\nreturn msg2;","outputs":1,"noerr":0,"x":1100,"y":685,"wires":[["c1191ad1.bfa8b8"]]},{"id":"d51e534a.849938","type":"chatbot-command","z":"5e92b465.1527a4","name":"","command":"/remove","x":321.25,"y":592.5,"wires":[["d318fa57.cf8a38","1a7214a8.7adff3"]],"outputLabels":["/wz"]},{"id":"d318fa57.cf8a38","type":"exec","z":"5e92b465.1527a4","command":"sudo rm /var/log/daemon.log /var/log/daemon.log.1 /var/log/syslog /var/log/syslog.1","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"löscht Logs","x":730,"y":592.5,"wires":[[],[],[]]},{"id":"1a7214a8.7adff3","type":"function","z":"5e92b465.1527a4","name":"Sende Payload als Nachricht","func":"var msg1 = {\n\"payload\": {\"chatId\" : 173173012,\n\"type\" : 'message',\n\"content\" : \"Die logs sollten gelöscht worden sein.\"} };\nreturn msg1;","outputs":1,"noerr":0,"x":1101.25,"y":592.5,"wires":[["c1191ad1.bfa8b8"]]},{"id":"cd0e3542.030458","type":"chatbot-command","z":"5e92b465.1527a4","name":"","command":"/stop","x":311.25,"y":726.25,"wires":[["83336065.fc805","18e142a9.2aa095"]]},{"id":"afc572e5.21659","type":"exec","z":"5e92b465.1527a4","command":"node-red-stop","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":741.25,"y":726.25,"wires":[[],[],[]]},{"id":"83336065.fc805","type":"delay","z":"5e92b465.1527a4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":561.25,"y":726.25,"wires":[["afc572e5.21659"]]},{"id":"18e142a9.2aa095","type":"function","z":"5e92b465.1527a4","name":"Sende Payload als Nachricht","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Node-Red wird in 3 Sekunden ausgeschaltet. Zuhause musst du's im Terminal wieder starten!\"} };\nreturn msg2;","outputs":1,"noerr":0,"x":1100,"y":725,"wires":[["c1191ad1.bfa8b8"]]},{"id":"3dd34966.41cece","type":"ui_button","z":"5e92b465.1527a4","name":"","group":"fe6258c6.d5989","order":1,"width":0,"height":0,"passthru":false,"label":"clean Logs","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"","x":77.5,"y":590,"wires":[["d318fa57.cf8a38"]]},{"id":"e162d7f9.e3fc68","type":"switch","z":"5e92b465.1527a4","name":"Speicher > 95 %","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"95","vt":"str"}],"checkall":"true","outputs":1,"x":520,"y":1000,"wires":[["caeeb180.f640a8","df9dd8ac.f93708"]]},{"id":"df9dd8ac.f93708","type":"function","z":"5e92b465.1527a4","name":"Sende Payload als Nachricht","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Auto-Reboot in 3 Sekunden. Speicher am Limit!\"} };\nreturn msg2;","outputs":1,"noerr":0,"x":840,"y":1000,"wires":[["c1191ad1.bfa8b8"]]},{"id":"d3a7969a.388ef8","type":"comment","z":"5e92b465.1527a4","name":"Auto-Reboot, wenn Speicher > 95%","info":"","x":544.3750190734863,"y":929.1666603088379,"wires":[]},{"id":"43f1bc6b.d104fc","type":"inject","z":"5e92b465.1527a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":675.000030517578,"y":1162.000030517578,"wires":[["921b0412.9660e8"]]},{"id":"921b0412.9660e8","type":"function","z":"5e92b465.1527a4","name":"Sende Payload als Nachricht","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Bin wach!\" + msg.payload} };\nreturn msg2;","outputs":1,"noerr":0,"x":944.6666259765625,"y":1166.6666259765625,"wires":[["c1191ad1.bfa8b8"]]},{"id":"a0697976.f3191","type":"ui_group","z":"","name":"Col1","tab":"59a92dfe.87f864","order":1,"disp":false,"width":"6"},{"id":"fe6258c6.d5989","type":"ui_group","z":"","name":"Actions","tab":"59a92dfe.87f864","order":4,"disp":true,"width":"6"},{"id":"996a44d.8a19db8","type":"ui_group","z":"","name":"Col2","tab":"59a92dfe.87f864","order":2,"disp":false,"width":"6"},{"id":"d0d9c37f.eb1998","type":"chatbot-telegram-node","z":"","botname":"FMS63_Bot","usernames":"173173012","polling":"1000","store":"","log":"","parseMode":""},{"id":"59a92dfe.87f864","type":"ui_tab","z":"","name":"RPi Control","icon":"dashboard","order":4}]