lib/flows/Telegram-Bot reagiert auf commands.json
[{"id":"4aa60607.c9b94","type":"chatbot-telegram-receive","z":"cfd4e6f2.2e63a","bot":"750f28d1.ac81d","x":95,"y":80,"wires":[["a90c6604.ad9e78","61674806.2cae08","1713c119.98b467"]]},{"id":"ed3e02a7.d104","type":"chatbot-telegram-send","z":"cfd4e6f2.2e63a","bot":"5cdf35b8.f931ac","track":false,"parseMode":"","outputs":0,"x":1156.25,"y":80,"wires":[]},{"id":"a90c6604.ad9e78","type":"chatbot-message","z":"cfd4e6f2.2e63a","name":"Miau","message":[{"message":"Miau"}],"answer":false,"track":false,"x":535,"y":80,"wires":[["ed3e02a7.d104"]]},{"id":"3c0659f6.ba48b6","type":"comment","z":"cfd4e6f2.2e63a","name":"Auto-Reply","info":"","x":445,"y":40,"wires":[]},{"id":"61674806.2cae08","type":"chatbot-command","z":"cfd4e6f2.2e63a","name":"","command":"/status","x":215,"y":200,"wires":[[]]},{"id":"1713c119.98b467","type":"chatbot-command","z":"cfd4e6f2.2e63a","name":"","command":"/wz","x":195,"y":240,"wires":[["7d8dc92f.08e288"]],"outputLabels":["/wz"]},{"id":"a8e62350.5306a8","type":"function","z":"cfd4e6f2.2e63a","name":"Sende Payload als Nachricht","func":"var msg2 = {\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : \"Die Temperatur im Wohnzimmer beträgt \" + msg.payload +\" °C.\"} };\nreturn msg2;","outputs":1,"noerr":0,"x":725,"y":300,"wires":[["2812751f.bcf13a"]]},{"id":"2812751f.bcf13a","type":"chatbot-conversation","z":"cfd4e6f2.2e63a","name":"","chatId":"173173012","transport":"telegram","messageId":"","contextMessageId":false,"x":1025,"y":200,"wires":[["ed3e02a7.d104"]]},{"id":"29363ec9.9d7192","type":"mqtt in","z":"cfd4e6f2.2e63a","name":"Wohnzimmer","topic":"/esp/temp/28ff8c388a1635a","qos":"0","broker":"664eb3ef.b51cec","x":95,"y":580,"wires":[["f2fc21c.7224c6"]]},{"id":"7d8dc92f.08e288","type":"change","z":"cfd4e6f2.2e63a","name":"set Payload to flow.Wohnzimmer","rules":[{"t":"set","p":"payload","pt":"msg","to":"Wohnzimmer","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":395,"y":280,"wires":[["a8e62350.5306a8"]]},{"id":"f2fc21c.7224c6","type":"change","z":"cfd4e6f2.2e63a","name":"","rules":[{"t":"set","p":"Wohnzimmer","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":577,"wires":[[]]},{"id":"1bb5af00.348fc9","type":"function","z":"cfd4e6f2.2e63a","name":"Sende Payload als Nachricht","func":"var msg2 = {\"topic\": msg.topic,\n\"payload\": {\"chatId\" : 173173012,\n    \"type\" : 'message',\n    \"content\" : msg.topic + '\\n\\n' + \"Die Temperatur beträgt \" + msg.payload +\" °C.\"} };\nreturn msg2;","outputs":1,"noerr":0,"x":725,"y":200,"wires":[["2812751f.bcf13a"]]},{"id":"de62a3f4.9063a","type":"comment","z":"cfd4e6f2.2e63a","name":"Commands","info":"","x":75,"y":160,"wires":[]},{"id":"57f74739.c87308","type":"comment","z":"cfd4e6f2.2e63a","name":"Input für Commands","info":"","x":118,"y":525,"wires":[]},{"id":"d3074544.1f4b48","type":"comment","z":"cfd4e6f2.2e63a","name":"Textausgabe des Commands","info":"","x":716,"y":152,"wires":[]},{"id":"e38acef3.9d4968","type":"comment","z":"cfd4e6f2.2e63a","name":"Auswahl des Inputs","info":"","x":395,"y":160,"wires":[]},{"id":"750f28d1.ac81d","type":"chatbot-telegram-node","z":"cfd4e6f2.2e63a","botname":"FMS63_Bot","usernames":"173173012","polling":"1000","log":""},{"id":"5cdf35b8.f931ac","type":"chatbot-telegram-node","z":"cfd4e6f2.2e63a","botname":"FMS63_Bot","usernames":"173173012","polling":"1000","log":""},{"id":"664eb3ef.b51cec","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"msg.payload = {chatId :173173012, type : 'message', content : msg.payload}","birthTopic":"","birthQos":"0","birthPayload":""}]